# ---------------------------
# Archivos del sistema operativo
# ---------------------------
.DS_Store

# ---------------------------
# Configuración de IDEs (IntelliJ, VS Code, STS)
# ---------------------------
.idea/
.vscode/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.sts4-cache/
.toolstarget/

# ---------------------------
# Control de versiones
# ---------------------------
.git/
.gitignore

# ---------------------------
# Docker y Compose
# ---------------------------
Dockerfile
Dockerfile*
docker-compose*
compose.y*ml

# ---------------------------
# Dependencias externas o artefactos
# ---------------------------
vendor/
charts/
*.dbmdl
*.jfm