<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/Css/Error/Error.css"
      th:href="@{/Css/Error/Error.css}">
    <link rel="icon" type="image/x-icon"
      th:href="@{/Assets/Img/Logo/Error/Error.png}"
      href="/Assets/Img/Logo/Error/Error.png">
  </head>
  <body>
    <div class="container">
      <h1>No Autorizado</h1>
      <p>No tienes cuentas con los permisos necesarios para acceder a estos
        recursos ... </p>
      <div class="loader"></div>
      <a href="javascript:history.back()" class="button">Volver</a>
    </div>
  </body>
</html>