@import url("./DashboardProducto.css");



:root {
    --typografiaGeist: "Geist";
    --typografiaUrbanist: "Urbanist";
    --colorPrincipal: #f59e0b;
    --colorDark: #18181b;
    --colorLigth: #71717a;
    --colorCafe: #8e705c;
    --colorWhite: #ffffff;
}

.titleheader__btn a {
    text-decoration: none;
    position: relative;
    left: 1.2rem;
    cursor: pointer;
    background-color: #eeee;
    color: var(--colorDark);
    border-radius: 8px;
    padding: 0.8rem 1rem;
    border: 1px solid #eee;
    font: 600 1rem var(--typografiaGeist);
    transition: background-color .5s ease, border .5s ease;
}

.titleheader__btn a:hover {
    background-color: #ddd;
    border: 1px solid #ccc;
}


.body__registrarproducto {
    display: flex;

}

.registrarproducto__productoinformacion {
    flex: 0 1 1200px;
    margin-top: 2.5rem;
}

.registrarproducto__productoinformacion .productoinformacion__formulario {
    background-color: var(--colorWhite);
    border: 1px solid #f3f4f6;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    padding-right: 1.2rem;
}


.formulario__producto .producto__title {
    font: 600 1.3rem var(--typografiaGeist);
    margin-left: 1.2rem;
}

.producto__input {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.formulario__box {
    position: relative;
}

.formulario__box label {
    font: 600 1rem var(--typografiaUrbanist);
    position: absolute;
    color: #8d8d8d;
    pointer-events: none;
    background-color: transparent;
    left: 35px;
    top: 15px;
    transform: translateY(0.6rem);
    transition: all 0.3s ease;
}


.formulario__box input {
    margin: 10px 0 10px 20px;
    background-color: transparent;
    border: 1px solid #ccc;
    font: 600 1rem var(--typografiaUrbanist);
    padding: 10px 15px;
    border-radius: 8px;
    width: 520px;
    height: 25px;
    letter-spacing: 1px;
    outline: none;
    transition: border-color .1s ease, outline .1s ease;
}


.formulario__box input:focus {
    border-color: #8e6b43;
    outline: 4px solid #d8bfa3;
}

.formulario__box input:focus~label,
.formulario__box input:not(:placeholder-shown)~label {
    background-color: #fff;
    transform: translateY(-80%) translateX(-10px) scale(0.9);
    padding: 0 5px;
    color: #8e6b43;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    border-radius: 100px;
}

.input__precio {
    font: 600 1.3rem var(--typografiaGeist);
    grid-column: 1 / -1;
    margin: 1.2rem 0 1rem 1.5rem;
}

.input__inventario {
    font: 600 1.3rem var(--typografiaGeist);
    grid-column: 1 / -1;
    margin: 1.2rem 0 1rem 1.5rem;
}

.input__estados {
    font: 600 1.3rem var(--typografiaGeist);
    grid-column: 1 / -1;
    margin: 1.2rem 0 1rem 1.5rem;
}

.estados__container {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;

}

.container__radio {
    display: flex;

}


/* Estilos generales del radio */
.radio__option {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    cursor: pointer;
    font: 500 0.95rem var(--typografiaGeist);
    color: var(--colorLigth);
    padding: 0.4rem 0.6rem;
    border-radius: 8px;
    transition: background 0.3s ease, color 0.3s ease;
}

/* Ocultar el radio original */
.radio__option input[type="radio"] {
    appearance: none;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Círculo base del radio */
.radio__custom {
    width: 15px;
    height: 15px;
    border: 1px solid #ddd;
    /* borde base */
    border-radius: 50%;
    display: inline-block;
    position: relative;
    transition: all 0.3s ease;
}

/* Cuando está seleccionado o en foco */
.radio__option input[type="radio"]:checked+.radio__custom,
.radio__option input[type="radio"]:focus+.radio__custom {
    background-color: #8e6b43;
    /* color de fondo */
    border-color: #8e6b43;
    box-shadow: 0 0 0 4px #d8bfa3;
    /* efecto de focus */
}

/* Círculo vacío en el centro (efecto dona) */
.radio__option input[type="radio"]:checked+.radio__custom::before,
.radio__option input[type="radio"]:focus+.radio__custom::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 9px;
    height: 9px;
    background-color: white;
    /* color del hueco */
    border-radius: 50%;
}

.radio__custom.error {
    border-color: #fd1f1f;
    box-shadow: 0 0 0 3px rgba(217, 48, 37, 0.3);
}

#formulario__imagen {
    grid-column: 1 / -1;
}

/* Aplica al input */
#formulario__imagen .formulario__boximagen {
    position: relative;
    cursor: pointer;
    width: 97.5%;
    height: 180px;
    margin: 10px 0 20px 20px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #eee;
    border: 1px solid #ddd;
}

.formulario__boximagen .boximagen__texto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    font: 500 0.95rem var(--typografiaGeist);
    color: #71717a;
}

.input__formulario .formulario__title {
    font: 600 1.3rem var(--typografiaGeist);
    margin-left: 1.2rem;
}



/* Contenedor donde se muestra la imagen cargada */
.preview-container {
    position: absolute;
    top: 38px;
    left: 20px;
    width: 150px;
    height: 150px;
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--colorWhite);
    display: none;
    /* Oculto por defecto */
    justify-content: center;
    align-items: center;
    z-index: 10;
    /* Asegura que esté por encima */
}

/* Imagen dentro del recuadro */
.preview-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

/* Barra de carga centrada sobre la imagen */
.progress-bar {
    position: absolute;
    top: 50%;
    /* centrada verticalmente */
    left: 10%;
    /* un poco de margen lateral */
    transform: translateY(-50%);
    height: 18px;
    width: 0%;
    background-color: rgba(76, 175, 80, 0.85);
    border-radius: 8px;
    animation: loading 1s linear forwards;
}

/* Animación de carga */
@keyframes loading {
    from {
        width: 0%;
    }

    to {
        width: 80%;
    }

    /* hasta un 80% del recuadro */
}

/* Botón de eliminar imagen debajo de la imagen */
.remove-image {
    position: absolute;
    top: 77%;
    left: 8.5%;
    transform: translateX(-50%);
    color: #4caf50;
    font: 500 0.95rem var(--typografiaGeist);
    text-align: center;
    cursor: pointer;
    transition: color 0.3s ease;
}

.remove-image:hover {
    text-decoration: underline;
}

/* Estado cuando hay imagen cargada */
.formulario__boximagen.imagen-activa {
    min-height: 250px;
    /* en lugar de height */
    transition: all 0.3s ease;
}

/* El texto desaparece */
.formulario__boximagen.imagen-activa .boximagen__texto {
    display: none;
}

.formulario__boximagen.error-border {
    border: 2px solid #e53935;
}

#formulario__descripcion {
    grid-column: 1 / -1;
}

/* Aplica al input */
#formulario__descripcion .formulario__boxdescripcion {
    width: 97.5%;
    margin: 10px 0 20px 20px;
    box-sizing: border-box;
    border-radius: 8px;
}

#editor-container {
    height: 150px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Contenedor completo que Quill genera automáticamente */
.ql-container.ql-snow {
    border-radius: 0 0 8px 8px !important;
}

/* Barra de herramientas (toolbar) */
.ql-toolbar.ql-snow {
    border: 1px solid #ddd !important;
    border-bottom: none !important;
    border-radius: 8px 8px 0 0 !important;

}

/* Íconos y botones del toolbar */
.ql-toolbar button:hover,
.ql-toolbar button:focus {
    background-color: #f0f0f0;
    border-radius: 6px;
}

/* Texto dentro del editor */
.ql-editor {
    font-family: var(--typografiaGeist);
    font-size: 15px;
    color: #333;
}

/* Quita el borde cuando se enfoca el editor */
.ql-editor:focus {
    outline: none;
    box-shadow: none;
}

.formulario__boxdescripcion.error-border {
    border: 2px solid #e53935 !important; /* Rojo */
}


.formulario__customselect {
    position: relative;
    width: 550px;

}

.customselect__styled {
    width: 100%;
    height: 47px;
    padding: 12px 16px;
    margin: 10px 0 10px 20px;
    padding-right: 40px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 8px;
    font: 600 1rem var(--typografiaUrbanist);
    color: #8d8d8d;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    transition: border-color .1s ease, outline .1s ease;
}


.customselect__styled option {
    color: #333;
    background-color: #ffffff;
    font: 600 1rem var(--typografiaUrbanist);
}

.customselect__styled:focus {
    border-color: #8e6b43;
    outline: 4px solid #d8bfa3;
}

.custom-arrow {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
    font-size: 16px;
    color: #666;
    pointer-events: none;
}

.custom-arrow.rotate {
    transform: translateY(-50%) rotate(180deg);
}


.box__icon i {
    position: absolute;
    top: 21px;
    left: 92%;
    font: 900 1.2rem var(--typografiaUrbanist);
}

.box__icon .ri-check-line {
    background-color: #34A853;
    border-radius: 50%;
    padding: 1px 1px;
    color: #fff;
    display: none;
}

.box__icon .ri-close-line {
    background-color: #fd1f1f;
    border-radius: 50%;
    padding: 1px 1px;
    color: #fff;
    display: none;
}

.input__formulario .formulario__error {
    font: 600 1rem var(--typografiaUrbanist);
    width: 480px;
    margin: 10px 0 10px 20px;
    display: none;
}

.input__formulario .error--estado {
    margin: 10px 0 10px 10px;
}


.input__btn {
    cursor: pointer;
    width: 300px;
    height: 45px;
    background-color: var(--colorCafe);
    color: var(--colorWhite);
    font: 600 1rem var(--typografiaUrbanist);
    border: none;
    outline: none;
    border-radius: 8px;
    margin: 0 0 2rem 1.3rem;
    transition: background-color .5s ease;
}

.input__btn:hover {
    background-color: #7a5e4d;
}