@import url("./style.css");

:root {
    --typografiaGeist: "Geist";
    --typografiaUrbanist: "Urbanist";
    --colorPrincipal: #f59e0b;
    --colorDark: #18181b;
    --colorLigth: #71717a;
    --colorCafe: #8e705c;
    --colorWhite: #ffffff;
}


.table__container {
    min-height: 150vh;
    position: relative;
    padding-top: 120px;
}


.container__enlaces {
    position: absolute;
    top: 8%;
    left: 10%;
}

.container__enlaces a {
    font: 500 1.1rem var(--typografiaUrbanist);
    text-decoration: none;
    color: #000000;

}

.container__enlaces a:hover {
    text-decoration: underline;
}

.container__add {
    position: absolute;
    top:13%;
    left: 78%;
    font: 600 1.2rem var(--typografiaUrbanist);
    width: 100%;
    max-width: 180px;
    height: 50px;
    padding: 10px;
    background: #8e705c;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}


/* Notificaciones */
.container__table {
    background-color: var(--color-tercario);
    padding: 2rem;
    border-radius: 20px;
    width: 100%;
    max-width: 1280px;
    margin: 1px 0 0 120px;
    position: absolute;
    z-index: 1;
}

.notification__title {
    font: 700 2.5rem var(--typografiaGeist);
    color: #000000;
    margin: 0 0 10px 150px;
    letter-spacing: 1px;
}

.notification__there {
    font: 500 1.1rem var(--typografiaUrbanist);
    color: #000000;
    margin: 0 0 0 150px;
    letter-spacing: 1px;
}

/* Tabla */
/* .notification__table-container {

} */


.notification__table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    min-width: 800px;
}


.notification__table tbody tr:hover {
    background-color: #f4fbff;
    transition: background-color 0.7s ease;
}

.notification__table th {
    padding: 14px 16px;
    background-color: #f0f3f2;
    text-align: center;
    vertical-align: top;
    border-bottom: 1px solid #e0e0e0;
    font: 600 1.2rem var(--typografiaGeist);
}

.notification__table td {
    padding: 10px 16px 10px 16px;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    font: 600 1rem var(--typografiaUrbanist);
    cursor: pointer;
}


.content__icon {
    border: none;
    background-color: transparent;
}

.content__icon i {
    cursor: pointer;
    font: 400 23px var(--typografiaUrbanist);
    background-color: transparent;
    border-radius: 5px;
    padding: 5px 5px;
    color: #6b7280;
}


/* Paginación */
.notification__pagination {
    display: flex;
    justify-content: right;
    gap: 0.5rem;
    margin-top: 1.5rem;
    flex-wrap: wrap;
}

.pagination__btn {
    margin-right: 0.4rem;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s;
    font: 700 1rem var(--typografiaUrbanist);
}

.pagination__btn:hover {
    background-color: #0077ff;
    color: var(--color-tercario);
}


.pagination__btn.active {
    background-color: #0077ff;
    color: #fff;
}

.pagination__flec {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 25px;
    transition: all 0.2s;
    margin: 0 10px;
    color: #000000;
}

.pagination__flec:hover {
    color: #6b7280;
}

.pagination__text {
    font: 600 1.2rem var(--typografiaUrbanist);
    margin: 5px 30px 0 0;
}

.swal-title {
    font: 600 2rem var(--typografiaUrbanist);
}

.swal-popup {
    font:var(--typografiaUrbanist) ;
}



.table__cuponsubtotal {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

}

/* Aplicar el cupon */
/* .carrito__formulario{
    padding-top: 0px;
} */

.formulario__inputbox {
    position: relative;
    left: -5px;
}

.formulario__inputbox input {
    margin: 10px 0 25px 5px;
    background-color: transparent;
    border: 1px solid #ccc;
    background-color: #ffffff;
    padding: 10px 15px;
    color: #374151;
    border-radius: 5px;
    width: 500px;
    font: 500 1.1rem "Urbanist";
    height: 65px;
    letter-spacing: 1px;
    outline: none;
}

.formulario__inputbox input::placeholder {
    color: #374151;
}


.formulario__inputbox button {
    position: absolute;
    left: 20rem;
    bottom: 1.85rem;
    font: 600 1.2rem var(--typografiaGeist);
    width: 180px;
    height: 55px;
    cursor: pointer;
    border: none;
    color: #fff;
    border-radius: 5px;
    background-color: #8e705c;
}


.total__carrito {
    width: 100%;
    min-width: 250px;
    max-width: 450px;
}

.total__carrito .carrito__title {
    font: 700 1.5rem var(--typografiaGeist);
    padding-bottom: 0.7rem;
    border-bottom: 1px solid #e0e0e0;

}


.carrito__content,
.carrito__cupon,
.carrito__free,
.carrito__total {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
    padding: 0.7rem 0;
}

.carrito__content .content__subtotal {
    font: 700 1.5rem var(--typografiaUrbanist);

}

.carrito__cupon .cupon__subtotal {
    font: 700 1.5rem var(--typografiaUrbanist);


}

.carrito__free .free__name, .carrito__free .free__subtotal{
    font: 700 1.5rem var(--typografiaUrbanist);
}

.carrito__total .total__name, .carrito__total .total__subtotal{
    font: 700 1.5rem var(--typografiaUrbanist);
}


.total__carrito .carrito__btn {
    font: 600 1.1rem var(--typografiaUrbanist);
    width: 100%;
    height: 50px;
    padding: 10px;
    background: #8e705c;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 2rem;
}


.formulario {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.input-box {
    position: relative;
}

.input-box label {
    font: 600 1rem var(--typografiaUrbanist);
    position: absolute;
    color: #8d8d8d;
    pointer-events: none;
    background-color: transparent;
    left: 35px;
    top: 18px;
    transform: translateY(0.6rem);
    transition: all 0.3s ease;
}


.input-box input {
    margin: 10px 0 20px 20px;
    background-color: transparent;
    border: 1px solid #ccc;
    font: 600 1rem var(--typografiaUrbanist);
    padding: 10px 15px;
    border-radius: 5px;
    width: 350px;
    height: 55px;
    letter-spacing: 1px;
    outline: none;
    box-sizing: border-box;
}



#barrio-input {
    grid-column: 1 / -1;
}

/* Aplica al input */
#barrio-input .input-box input {
    width: 96.5%;
    margin: 10px 0 20px 25px;
    box-sizing: border-box;
}

.input-box input:focus {
    outline: none;
    border: 2px solid #0034de;
}

.input-box input:focus~label,
.input-box input:not(:placeholder-shown)~label {
    background-color: #fff;
    transform: translateY(-80%) translateX(-10px) scale(0.9);
    padding: 0 5px;
    color: #0034de;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    border-radius: 100px;
}

.custom-select-wrapper {
    position: relative;
    width: 350px;
    margin: 10px 0 20px 25px;
}

.wrapper--hora{
    width: 450px;
    margin: 10px 0 20px 22px;
}

.styled-select {
    width: 100%;
    height: 55px;
    padding: 12px 16px;
    padding-right: 40px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    font: 600 1rem var(--typografiaUrbanist);
    color: #8d8d8d;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}


.styled-select option {
    color: #333;
    background-color: #ffffff;
    font: 600 1rem var(--typografiaUrbanist);
}

.styled-select:focus {
    outline: none;
}

.custom-arrow {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
    font-size: 16px;
    color: #666;
    pointer-events: none;
}

.custom-arrow.rotate {
    transform: translateY(-50%) rotate(180deg);
}


.box__icon i {
    position: absolute;
    top: 25px;
    left: 89%;
    font: 900 1.2rem var(--typografiaUrbanist);

}

.icon--barrio i{
    left: 95%;
}


.box__icon .ri-check-line {
    background-color: #34A853;
    border-radius: 50%;
    padding: 1px 1px;
    color: #fff;
    display:none ;
}

.box__icon .ri-close-line {
    background-color: #fd1f1f;
    border-radius: 50%;
    padding: 1px 1px;
    color: #fff;
    display: none;
}

.input__error {
    font: 600 1rem var(--typografiaUrbanist);
    width: 100%;
    margin: 0 0 10px 20px;
    display:none ;
}

.error--direccion{
    margin: 0 0 10px 10px;
}


.error--apartamento{
    margin: 0 0 10px 10px;
}

.error--departamento{
    margin: 0 0 10px -25px;
}

.error--ciudad{
    margin: 0 0 10px -45px;
}

.error--barrio{
    margin: 0 0 10px -115px;
}

.error--fecha,
.error--hora{
    margin:0 0 10px -85px ;
}

.swal-title {
    font-family: 'Urbanist', sans-serif !important;
    font-weight: 600;
}

.swal-popup {
    font-family: 'Urbanist', sans-serif !important;
}



.formulario__input:nth-last-child(4) .input__error,
.formulario__input:nth-last-child(2) .input__error {
    margin-bottom: 15px;
}




/* Ventana modal */
.modal__newadd {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(17, 17, 17, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    backdrop-filter: blur(4px);
    opacity: 1;
    visibility: visible;
    transition: opacity 0.25s ease, visibility 0.25s ease;
}

.newadd--hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* --- CONTENIDO DEL MODAL --- */
.modal__content {
    background: #fff;
    padding: 2rem 1.5rem 2rem 0;
    border-radius: 8px;
    width: 100%;
    max-width: 780px;
    position: relative;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    font-family: 'Urbanist', sans-serif;
    text-align: center;
    animation: swalIn 0.35s ease forwards;
}

.modal__content .content__titulo {
    font: 600 1.5rem var(--typografiaGeist);
    margin-bottom: 1rem;

}

.modal__newadd.newadd--hidden .modal__content {
    animation: swalOut 0.3s ease forwards;
}

.swal2-container {
    z-index: 99999 !important;
}

@keyframes swalIn {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }

    45% {
        opacity: 1;
        transform: scale(1.05);
    }

    80% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes swalOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.7);
    }
}

.modal__close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.6rem;
    color: #aaa;
    cursor: pointer;
    transition: 0.25s ease;
}

.modal__close:hover {
    color: #000;
    transform: scale(1.2);
}

.formulario__button {
    font: 700 1rem var(--typografiaUrbanist);
    background-color: #48f;
    color: #fff;
    width: 100%;
    width: 400px;
    margin: 0 0 0 1rem;
    height: 55px;
    border-radius: 5px;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    transition: background-color .7s ease;
}

.formulario__button:hover {
    background-color: #0034de;
}

/**Opciones de envio */
.formulario .opciones__envios {
    grid-column: 1 / -1;
    width: 100%;
}

.opciones__envios .envios__titulo{
    font: 700 1.5rem var(--typografiaGeist);
    text-align: left;
    margin:0 0 0 1.4rem;

}

.container__item label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.container__item input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #6b7280;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.container__item input[type="radio"]:checked {
    border-color: #2563eb;
    background-color: #2563eb;
}

.container__item input[type="radio"]::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s ease-in-out;
}

.container__item input[type="radio"]:checked::after {
    transform: translate(-50%, -50%) scale(1);
}

.envios__container{
    margin:1rem 0 0 1.5rem;
    display: flex;
    gap: 0.8rem;
}

.envios__container .container__item{
    width: 100%;
    height: 150px;
    border: 1px solid #6b7280;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.8rem 0.5rem 0 0.5rem;

}

.container__item .item__titulo{
    font: 700 1.2rem var(--typografiaGeist);
}

.container__item p{
    color: var(--colorDark);
    font: 400 1rem var(--typografiaGeist);
    margin-top:0.6rem;
}

.formulario__pago{
    margin: 4% 0 0 168%;
    cursor: pointer;
    width: 150px;
    font: 500 1.3rem var(--typografiaGeist);
}

/* Formulario De envio por fecha */
.modal__envio {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(17, 17, 17, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    backdrop-filter: blur(4px);
    opacity: 1;
    visibility: visible;
    transition: opacity 0.25s ease, visibility 0.25s ease;
}

.newadd--mostrar {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* --- CONTENIDO DEL MODAL --- */
.envio__content {
    background: #fff;
    padding: 2rem 1.5rem 2rem 0;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    position: relative;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    font-family: 'Urbanist', sans-serif;
    text-align: center;
    animation: swalIn 0.35s ease forwards;
}

.envio__content .envio__titulo {
    font: 600 1.5rem var(--typografiaGeist);
    margin-bottom: 1rem;

}

.envio__content .envio__subtitulo{
    font: 500 1rem var(--typografiaUrbanist);
    margin-bottom: 1rem;
}

.modal__envio.newadd--mostrar .envio__content {
    animation: swalOut 0.3s ease forwards;
}

.swal2-container {
    z-index: 99999 !important;
}

@keyframes swalIn {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }

    45% {
        opacity: 1;
        transform: scale(1.05);
    }

    80% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes swalOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.7);
    }
}

.envio__close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.6rem;
    color: #aaa;
    cursor: pointer;
    transition: 0.25s ease;
}

.envio__close:hover {
    color: #000;
    transform: scale(1.2);
}

.box--tiempo input{
    width: 450px;
}



.btn__envio{
    font: 600 1.3rem var(--typografiaUrbanist);
    width: 100%;
    max-width: 150px;
    height: 50px;
    padding: 10px;
    background: #8e705c;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: 0.5rem 0 0 -17.5rem;
}

