@import url("./DashboardProducto.css");

:root {
    --typografiaGeist: "Geist";
    --typografiaUrbanist: "Urbanist";
    --colorPrincipal: #f59e0b;
    --colorDark: #18181b;
    --colorLigth: #71717a;
    --colorCafe: #8e705c;
    --colorWhite: #ffffff;
}


/* Section body */
.content__body {
    margin-left: 260px;
    margin-top: 70px;
    padding: 20px;
}

.body__titleheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleheader__producto .producto__titulo {
    font: 600 2rem var(--typografiaGeist);
    margin: 0 0 -0.7rem 0;
}

.titleheader__producto .producto__texto {
    font: 500 1.1rem var(--typografiaUrbanist);
}

.titleheader__btn {
    display: flex;
}

.titleheader__btn a {
    text-decoration: none;
    position: relative;
    left: 1.2rem;
    cursor: pointer;
    background-color: var(--colorCafe);
    color: var(--colorWhite);
    border-radius: 8px;
    border: none;
    padding: 1rem 1.5rem;
    font: 600 1rem var(--typografiaUrbanist);
    transition: background-color .5s ease;
}

.titleheader__btn a:hover {
    background-color: #7a5e4d;
}


.table__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 3rem 1.5rem 2rem;
}

.filter__titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.filter__titulo .titulo__pedidos {
    font: 600 1.85rem var(--typografiaGeist);
}

.filter__titulo .titulo__id {
    font: 600 1.85rem var(--typografiaGeist);
}

.filter__titulo .titulo__estado {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    width: 80px;
    height: 10px;
    padding: 0.7rem 0.4rem;
    border: none;
    font: 700 0.75rem var(--typografiaUrbanist);
    border-radius: 6px;
}


.filter__titulo .titulo__estado.Exito{
    background-color: #ceefce;
    color: #3e2723;
}

.filter__titulo .titulo__estado.Cancelar {
    background-color: #f8bbd0;
    color: #4a1f2b;
}


.filter__titulo .titulo__estado.Pendiente {
    background-color: #fff9c4;
    color: #5a4a1b;
}

.filter__estados{
    display: flex;
    gap: 0.5rem;
}

.filter__estados .estados__btn{
    text-decoration: none;
    position: relative;
    left: 1.2rem;
    cursor: pointer;
    background-color: var(--colorCafe);
    color: var(--colorWhite);
    border-radius: 8px;
    border: none;
    padding: 0.8rem 1rem;
    font: 600 1rem var(--typografiaUrbanist);
    transition: background-color .5s ease;
}

.filter__estados .estados__btn:hover{
    background-color: #7a5e4d;
}

.filter__estados .estados__factura{
    text-decoration: none;
    position: relative;
    left: 1.2rem;
    cursor: pointer;
    background-color:var(--colorLigth);
    color: var(--colorWhite);
    border-radius: 8px;
    border: none;
    padding: 0.8rem 1rem;
    font: 600 1rem var(--typografiaUrbanist);
    transition: background-color .5s ease;
}

.filter__estados .estados__factura:hover{
    background-color:#6b7280;
}

.custom__select {
    position: relative;
    left: 1rem;
}

.custom__select select {
    width: 150px;
    height: 45px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: transparent;
    color: #3b2a1a;
    padding: 8px 12px;
    font: 600 1rem var(--typografiaUrbanist);
    cursor: pointer;
    transition: border-color .1s ease, outline .1s ease;
    outline: none;
    appearance: none;
}

.custom__select select option {
    font: 600 1rem var(--typografiaUrbanist);
    color: #3b2a1a;
    padding: 8px;
}

/* Efecto al hacer focus */
.custom__select select:focus {
    border-color: #8e6b43;
    outline: 4px solid #d8bfa3;
}


.custom__select i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #8e6b43;
    font-size: 1.3rem;
    pointer-events: none;
    /* evita que bloquee el click */
    transition: color 0.2s ease;
}

.custom__select:hover i,
.custom__select select:focus+i {
    color: #6d4e2e;
}

.table__information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 4rem 2.5rem 2rem;
    margin-top: -2.5rem;
}

.information__detalleClientes .detalleClientes__titulo {
    font: 600 0.95rem var(--typografiaGeist);
    margin-bottom: -0.2rem;
}

.information__detalleClientes :is(.detalleClientes__nombreCliente,
    .detalleClientes__correoCliente,
    .detalleClientes__telefonoCliente,
    .detalleClientes__perfil) {
    font: 500 0.95rem var(--typografiaGeist);
    color: var(--colorLigth);
}

.information__detalleClientes .detalleClientes__perfil {
    color: var(--colorCafe);
    text-decoration: none;
    transition: color .4s ease;
}

.information__detalleClientes .detalleClientes__perfil:hover {
    color: #3b2a1a;
}


.information__direccionEnvio .direccionEnvio__titulo {
    font: 600 0.95rem var(--typografiaGeist);
    margin-bottom: -0.2rem;
}

.information__direccionEnvio :is(.direccionEnvio__apellidoCliente,
    .direccionEnvio__direccionCliente,
    .direccionEnvio__ciudadCliente,
    .direccionEnvio__barrioCliente) {
    font: 500 0.95rem var(--typografiaGeist);
    color: var(--colorLigth);
}

.information__detallePedidos .detallePedidos__titulo {
    font: 600 0.95rem var(--typografiaGeist);
    margin-bottom: -0.2rem;
}

.information__detallePedidos :is(.detallePedidos__idpedido,
    .detallePedidos__fechaPedido,
    .detallePedidos__totalPedido,
    .detallePedidos__metodoPago) {
    font: 500 0.95rem var(--typografiaGeist);
    color: var(--colorLigth);
}

.detallePedidos__idpedido .idpedido__cliente,
.detallePedidos__fechaPedido .fechaPedido__cliente,
.detallePedidos__totalPedido .totalPedido__cliente,
.detallePedidos__metodoPago .metodoPago__cliente {
    color: var(--colorDark);
}

.notification__table th {
    padding: 14px 16px;
    background-color: #f0f3f2;
    text-align: left;
    border-bottom: 1px solid #ddd;
    vertical-align: top;
    font: 600 1rem var(--typografiaGeist);
    color: #6b7280;
}

.notification__table td {
    padding: 5px 16px;
    text-align: left;
    vertical-align: middle;
    font: 600 1rem var(--typografiaUrbanist);
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    color: var(--colorLigth);
}


.td__producto .producto__info {
    display: flex;
    align-items: center;
    gap: 10px;
}


.notification__table td .img__container {
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.notification__table td .img__container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    image-rendering: high-quality;
}


.td__producto .producto__nombre {
    font: 600 1rem/1.2 var(--typografiaUrbanist);
    color: var(--colorLigth);
    max-width: 500px;
    word-wrap: break-word;
}

.table__subtotal{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.subtotal__span .span__texto{
    font: 500 1rem var(--typografiaGeist);
    border-bottom: 1px solid #ddd;
    padding:0rem 0 1rem 0;
    width: 400px;
}

.subtotal__span .span__texto:last-child{
    border-bottom: none;
}


.span__texto .precio--subtotal{
    margin-left: 53%;
}

.span__texto .precio--envio{
    margin-left: 43%;
}

.span__texto .precio--general{
    margin-left: 46%;
}