:root {
    --typografiaGeist: "Geist";
    --typografiaUrbanist: "Urbanist";
    --colorPrincipal: #f59e0b;
    --colorDark: #18181b;
    --colorLigth: #71717a;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 150px 0 0 20px;
    overflow-y: hidden;

}


.contenido__form{
    margin: -60px 0 0 6em;
}

.form .formulario__title {
    font: 700 2.2rem var(--typografiaGeist);
    text-align: center;
    margin: 0 8rem 0.5rem 0;
}

.container__otrascuentas{
    width: 100%;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin: 2rem 0 0 2rem;
}

.otrascuentas__titles{
    text-align: center;
    font: 500 1rem var(--typografiaGeist);
}

.otrascuentas__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    cursor: pointer;
    color: var(--colorDark);
    font: 700 1.1rem var(--typografiaUrbanist);
    border: none;
    outline: none;
    width: 100%;
    width: 550px;
    height: 55px;
    border-radius: 5px;
    background-color:#F5FAFF ;
}

.otrascuentas__btn img{
    max-width: 100%;
    width: 25px;
}


.form .formulario__title2 {
    font: 700 1.1rem var(--typografiaUrbanist);
    text-align: center;
    margin: 0 0 0 22%;
}

.input--margintop{
    margin-top: 1rem;
}


.input-box {
    position: relative;
}

.input-box label {
    font: 600 1rem var(--typografiaUrbanist);
    position: absolute;
    color: #8d8d8d;
    pointer-events: none;
    background-color: transparent;
    left: 50px;
    top: 20px;
    transform: translateY(0.6rem);
    transition: all 0.3s ease;
}

.input-box input {
    margin: 10px 0 25px 30px;
    background-color: transparent;
    border:1px solid #ccc;
    padding: 10px 15px;
    font: 600 1rem var(--typografiaUrbanist);
    border-radius: 5px;
    width: 550px;
    height: 55px;
    letter-spacing: 1px;
    outline: none;
}

.input-box input:focus {
    outline: none;
    border: 2px solid #0034de;
}

.input-box input:focus~label,
.input-box input:not(:placeholder-shown)~label {
    background-color: #fff;
    transform: translateY(-80%) translateX(-10px) scale(0.9);
    padding: 0 5px;
    color: #0034de;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    border-radius: 100px;
}


.box__icon i {
    position: absolute;
    top: 25px;
    left: 72%;
    font: 900 1.2rem var(--typografiaUrbanist);

}

.box__icon .ri-check-line {
    background-color: #34A853;
    border-radius: 50%;
    padding: 1px 1px;
    color: #fff;
    display: none;
}

.box__icon .ri-close-line {
    background-color: #fd1f1f;
    border-radius: 50%;
    padding: 1px 1px;
    color: #fff;
    display: none;
}

.input-box.input-error label {
    color: #fd1f1f !important;
}

.input__error {
    font: 600 1rem var(--typografiaUrbanist);
    width: 500px;
    margin: 0 0 15px 33px;
    display: none;
}


.error--changed {
    margin: 30px 0 0 33px;
}

.input__advertencia {
    font: 700 1rem var(--typografiaUrbanist);
    box-sizing: border-box;
    width: 100%;
    max-width: 550px;
    background-color: #fd1f1f;
    padding: 20px 15px;
    border-radius: 5px;
    grid-column: span 2;
    margin: 20px 0 0 30px;
    display: flex;
    justify-content: flex-start;
    display: none;
}

.input__advertencia i {
    font-size: 1.7rem;
    margin: -5px 10px 0 0;
}

.swal-title {
    font-family: 'Urbanist', sans-serif !important;
    font-weight: 600;
}

.swal-popup {
    font-family: 'Urbanist', sans-serif !important;
}


.remember-forgot .forgot__label {
    accent-color: #0034de;
    font: 700 1rem var(--typografiaUrbanist);
    margin-left: 30px;
}


.remember-forgot input {
    margin-right: 15px;
}

.remember-forgot a {
    color: gray;
    text-decoration: none;
    font-weight: 600;
    position: relative;
    margin: 0 0 0 90px;
}

.remember-forgot a:hover {
    text-decoration: underline;
}


.form .formulario__btn {
    font: 700 1rem var(--typografiaUrbanist);
    background-color: #48f;
    color: #fff;
    width: 100%;
    width: 550px;
    height: 55px;
    margin: 30px 10em 30px 0;
    border-radius: 5px;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    transition: background-color .7s ease;
}

.form .formulario__btn:hover{
    background-color: #0034de;
}

.formulario__btn-container {
    grid-column: span 2;
    margin:5px 0 0 30px;
    display: flex;
    justify-content: center;
}

.registre-link {
    margin: 0 0 0 150px;
}

.remember-forgot .forgot__color{
    color: #48f;
    margin-left: 120px;
    font: 600 1.1rem var(--typografiaUrbanist);
}
.registre-link a {
    font: 600 1.1rem var(--typografiaUrbanist);
    margin: 20px 0 0 20px;

}


.registre-link p{
    font: 600 1.1rem var(--typografiaUrbanist);
}

.registre-link p a {
    color: #48f;
    text-decoration: none;
    font-weight: 600;
    margin: 20px 0 0 20px;
}

.registre-link p a:hover {
    text-decoration: underline;
}


.imagen__container {
    position: absolute;
    top: 0;
    left:54.5em;
}

.imagen__container .container__login{
    width: 100%;
    max-width: 670px;
    min-height: 100vh;
    border-radius: 0 0 0 190px;
}

.icono__back{
    position: absolute;
    top: 30px;
    left: 9em;
}

.icono__back .regresar{
    font: 500 1.2rem var(--typografiaUrbanist);
    text-decoration: none;
    color: #0034de;
}

.icono__back i{
    font-size: 20px;
    color: #0034de;
}
