@import url("./style.css");

:root {
    --typografiaGeist: "Geist";
    --typografiaUrbanist: "Urbanist";
    --colorPrincipal: #f59e0b;
    --colorDark: #18181b;
    --colorLigth: #71717a;
    --colorCafe: #8e705c;
    --colorWhite: #ffffff;
}


.perfil {
    min-height: 100vh;
    position: relative;
    padding-top: 150px;
}

.perfil__container {
    display: flex;
    justify-content: space-around;
}

.hr__horinzontal {
    position: relative;
    top: -33px;
    left: 0px;
    border: 0;
    height: 1px;
    border-top: 1px solid #ccc;
}

.container__nav {
    margin-top: 30px;
}


.container__nav .nav__opciones {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.nav__opciones .opciones__btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: var(--colorDark);
    gap: 0.4rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font: 400 1rem var(--typografiaGeist);
    width: 250px;
    height: 38px;
    border-radius: 8px;
    transition: background-color .5s ease;
}

.nav__opciones .opciones__btn i {
    margin: 0 5px 0 10px;
}

.nav__opciones .hr__separar {
    border: 0;
    height: 1px;
    border-bottom: 1px solid #ccc;
    margin: 1rem 0;
}



.nav__opciones .opciones__btn:hover {
    background-color: #f0f3f2;
}


.nav__opciones .opciones__btn.active {
    background-color: #18181b;
    color: var(--colorWhite);
}

.hr__vertical {
    position: absolute;
    top: 6%;
    left: 27%;
    border: 0;
    border-left: 1px solid #ccc;
    height: 94%;
}

.container__main {
    margin-top: 20px;
}

.main__perfil {
    margin-right: 3rem;
}

.perfil__user {
    display: flex;
    justify-content: space-between;

}


.perfil__card {
    width: 400px;
    margin-bottom: 30px;
    margin-right: 80px;
}

.perfil__card .card__title {
    font: 600 1.5rem var(--typografiaGeist);
    margin-bottom: 0.2rem;
}

.perfil__card .title--empresa {
    width: 980px;
    border-top: 1px solid #ccc;
    padding-top: 50px;
}

.perfil__card .card__text {
    font: 500 1rem var(--typografiaGeist);
    margin-bottom: 2rem;
    color: var(--colorLigth);
}



.img__user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 2rem 0;
}

.img__user img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    display: block;
    cursor: pointer;
    background-color: #f0f3f2;
}

.user--empresar img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    display: block;
    cursor: pointer;
    background-color: #f0f3f2;
}

.img__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.btn__item .item__button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 120px;
    height: 45px;
    border: 1px solid var(--colorCafe);
    border-radius: 30px;
    font: 500 1.2rem var(--typografiaUrbanist);

}

.btn__item .button--subir {
    width: 80px;
    height: 45px;
    background-color: var(--colorCafe);
    color: var(--colorWhite);
}

.btn__item .button--restablecer {
    color: var(--colorCafe);
}


.btn__item .button--restablecer:hover {
    background-color: #e6ccb2;
}

.button--guardar {
    background-color: var(--colorCafe);
    color: var(--colorCafe);
    border-radius: 30px;
    border: none;
    width: 80px;
    height: 45px;
    font: 500 1.2rem var(--typografiaUrbanist);
    cursor: pointer;
    transition: 0.3s;
}

.button--guardar:hover {
    background-color: #a47c48;
    color: var(--colorWhite);
}

.img__btn .btn__text {
    font: 500 1rem var(--typografiaUrbanist);
}

.user__informacion {
    background-color: var(--colorWhite);
    width: 100%;
    max-width: 450px;
    position: relative;
}

.user__informacion .informacion__title {
    font: 600 1.5rem var(--typografiaGeist);
    margin-bottom: 0.7rem;
}

.user__informacion .informacion__text {
    width: 500px;
    font: 400 0.9rem var(--typografiaGeist);
    margin-bottom: 0.7rem;
    position: relative;
    color: var(--colorLigth);
    display: inline-block;
    padding-bottom: 0.9rem;
}

.user__informacion .informacion__text::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, transparent, var(--colorDark), transparent);
}

.informacion__datos {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.informacion__datos :is(.datos__nombre,
    .datos__telelfono,
    .datos__correo,
    .datos__identificacion,
    .datos__ubicacion) {
    font: 500 1.02rem var(--typografiaUrbanist);

}



.empresa__informacion {
    width: 100%;
    max-width: 450px;
    position: relative;
    margin-top: 3rem;
}

.empresa__informacion .informacion__title {
    font: 600 1.5rem var(--typografiaGeist);
    margin-bottom: 0.7rem;
}

.empresa__informacion .informacion__text {
    width: 500px;
    font: 400 0.9rem var(--typografiaGeist);
    margin-bottom: 0.7rem;
    position: relative;
    color: var(--colorLigth);
    display: inline-block;
    padding-bottom: 0.9rem;
}

.empresa__informacion .informacion__text::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, transparent, var(--colorDark), transparent);
}

.empresas__datos {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.empresas__datos :is(.datos__nit,
    .datos__social,
    .datos__ciudad,
    .datos__direccion,
    .datos__correo,
    .datos__telefono,
    .datos__sector) {
    font: 500 1.02rem var(--typografiaUrbanist);

}

.perfil__personales {
    margin: 10px 0 0 -10px;
}

.perfil__personales .personales__titles {
    font: 600 1.5rem var(--typografiaGeist);
    margin: 0 0 0.2rem 0.7rem;
}

.perfil__personales .personales__text {
    font: 500 1rem var(--typografiaGeist);
    color: var(--colorLigth);
    margin: 0 0 1.5rem 0.7rem;
}


.personales__formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.input-box {
    position: relative;
}

.input-box label {
    font: 600 1rem var(--typografiaUrbanist);
    position: absolute;
    color: #8d8d8d;
    pointer-events: none;
    background-color: transparent;
    left: 30px;
    top: 18px;
    transform: translateY(0.6rem);
    transition: all 0.3s ease;
}

.input-box label.error {
    color: #fd1f1f;
}

.input-box input {
    margin: 10px 0 10px 10px;
    background-color: transparent;
    border: 1px solid #ccc;
    font: 600 1rem var(--typografiaUrbanist);
    padding: 10px 15px;
    border-radius: 8px;
    width: 450px;
    height: 55px;
    letter-spacing: 1px;
    outline: none;
}


.input-box input:focus {
    border: 1px solid #3366ff;
    outline: 4px solid #b3c7ff;
}

.input-box input:focus~label,
.input-box input:not(:placeholder-shown)~label {
    background-color: #fff;
    transform: translateY(-88%) translateX(-10px) scale(0.9);
    padding: 0 5px;
    color: #0034de;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    border-radius: 100px;
}

#sector-input {
    grid-column: 1 / -1;
}

/* Aplica al input */
#sector-input .custom-select-wrapper select {
    width: 205%;
    box-sizing: border-box;
}

.custom-select-wrapper {
    position: relative;
    width: 450px;
    margin: 10px 0 10px 10px;
}

.styled-select {
    width: 100%;
    height: 55px;
    padding: 12px 16px;
    padding-right: 40px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 8px;
    font: 600 1rem var(--typografiaUrbanist);
    color: #8d8d8d;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}


.styled-select option {
    color: #333;
    background-color: #ffffff;
    font: 600 1rem var(--typografiaUrbanist);
}

.styled-select:focus {
    outline: none;
}

.custom-arrow {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
    font-size: 16px;
    color: #666;
    pointer-events: none;
}

.custom-sector {
    position: absolute;
    top: 50%;
    left: 195%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
    font-size: 16px;
    color: #666;
    pointer-events: none;
}

.custom-arrow.rotate {
    transform: translateY(-50%) rotate(180deg);
}

.box__icon i {
    position: absolute;
    top: 25px;
    left: 89%;
    font: 900 1.2rem var(--typografiaUrbanist);

}

.box__icon .ri-check-line {
    background-color: #34A853;
    border-radius: 50%;
    padding: 1px 1px;
    color: #fff;
    display: none;
}

.box__icon .ri-close-line {
    background-color: #fd1f1f;
    border-radius: 50%;
    padding: 1px 1px;
    color: #fff;
    display: none;
}

.input__error {
    font: 600 1rem var(--typografiaUrbanist);
    width: 400px;
    margin: 0 0 0px 20px;
    display: none;
}

.swal-title {
    font: 600 2rem var(--typografiaUrbanist);
}

.swal-popup {
    font: var(--typografiaUrbanist);
}



.formulario__input:nth-last-child(4) .input__error,
.formulario__input:nth-last-child(2) .input__error {
    margin-bottom: 15px;
}

.personales__formulario .formulario__btn {
    font: 700 1.2rem var(--typografiaUrbanist);
    background-color: #d2b48c;
    color: #fff;
    width: 100%;
    width: 150px;
    height: 55px;
    margin: 30px 0.5em 30px 0;
    border-radius: 8px;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    transition: background-color .7s ease;
}

.personales__formulario .formulario__btn:hover {
    background-color: var(--colorCafe);
}

.personales__formulario .btn--cancelar {
    background-color: #ff7b7b;
}

.personales__formulario .btn--cancelar:hover {
    background-color: #fd1f1f;
}

.formulario__btn-container {
    grid-column: span 2;
    margin: 0.5rem 37rem 0 0;
    display: flex;
    justify-content: center;
}

.perfil__empresa .empresa__titles {
    font: 600 1.5rem var(--typografiaGeist);
    margin: 0 0 0.2rem 0.8rem;
}

.perfil__empresa .empresa__text {
    font: 500 1rem var(--typografiaGeist);
    color: var(--colorLigth);
    margin: 0 0 1.5rem 0.8rem;
}

.empresa__formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.formulario__container {
    margin: 2rem 16.5rem 0 0;
    display: flex;
    justify-content: center;
}

.empresa__formulario .formulario__btn {
    font: 700 1.2rem var(--typografiaUrbanist);
    background-color: var(--colorCafe);
    color: #fff;
    width: 100%;
    width: 150px;
    height: 55px;
    margin: 0 0.5em 30px 0;
    border-radius: 8px;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    transition: background-color .7s ease;
}