@import url("./style.css");

:root {
    --typografiaGeist: "Geist";
    --typografiaUrbanist: "Urbanist";
    --colorPrincipal: #f59e0b;
    --colorDark: #18181b;
    --colorLigth: #71717a;
    --colorCafe: #8e705c;
    --colorWhite: #ffffff;
}


.productos {
    min-height: 100vh;
    padding-top: 250px;
    position: relative;
}

.container__enlaces {
    position: absolute;
    top: 15%;
    left: 6.5%;
}

.container__enlaces a {
    font: 500 1.1rem var(--typografiaUrbanist);
    text-decoration: none;
    color: #000000;

}

.container__enlaces a:hover {
    text-decoration: underline;
}

.container__enlaces .enlaces__titulos {
    font: 700 3rem var(--typografiaGeist);
    margin: 0 0 0 0;
}

.produtos__filter{
    display: flex;
    padding-left: 6.2rem;
    gap: 2.5rem;
    align-items: flex-end;
    position: relative;
    top: -1rem;

}

.custom-select {
    position: relative;
    width: 300px;
}

.select-selected {
    background: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    height: 55px;
    font: 700 1.5rem var(--typografiaUrbanist);
    padding-left: 1.5rem;
    cursor: pointer;
    user-select: none;
}

.select-selected i{
    position: relative;
    transition: transform 0.3s ease;
}

.select-selected i.up {
    transform: rotate(180deg);
}

.selected--marca i{
    left: 10rem;
}

.selected--categoria i{
    left: 8rem;

}

.selected--pais i{
    left: 12rem;

}

.selected--ordenar i{
    left: 6.2rem;

}

.select-items {
    position: absolute;
    background: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    margin-top: 5px;
    width: 100%;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 99;
}

.select-items input[type="text"] {
    width: 90%;
    padding: 8px;
    outline: none;
    border: 1px solid #e5e7eb;
    margin: 1rem 0.9rem;
    font: 600 1rem var(--typografiaUrbanist);
}

.option {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    cursor: pointer;
    transition: background 0.2s;
    font: 600 1rem var(--typografiaUrbanist);
}



.option input[type="checkbox"] {
    margin-right: 10px;
    accent-color: #48f;
    /* color del check */
}

.select-hide {
    display: none;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex__productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    justify-items: center;

}

.flex__productos-track {
    display: contents;
}

@media (max-width: 1024px) {
    .flex__productos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .flex__productos {
        grid-template-columns: 1fr;
    }
}

/* Card */
.card {
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    padding: 16px;
    width: 300px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

/* Pagination */
.pagination {
    position: relative;
    top: -20px;
    left: -5%;
    width: 200%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 2rem;
}

.pagination__Numbers {
    display: flex;
    gap: 0.5rem;
}

.pagination__Numbers .button__pagination {
    font: 600 1.2rem "Urbanist";
    width: 45px;
    height: 45px;
    border: 1px solid var(--colorDark);
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition: background-color .4s ease, color .4s ease-in;

}

.pagination__Numbers .button__pagination.active {
    background-color: var(--colorDark);
    color: var(--colorWhite);
}

.pagination__Numbers .button__pagination:hover {
    background-color: var(--colorDark);
    color: #ffffff;
}

.pagination #prevBtn {
    display: none;
}

.pagination button {
    border: 1px solid var(--colorDark);
    padding: 8px 12px;
    background-color: transparent;
    font: 700 1.4rem "Urbanist";
    color: #000000;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color .4s ease, color .4s ease-in;
}

.pagination button:hover {
    background-color: var(--colorDark);
    color: #ffffff;
}