:root {
    --typografiaGeist: "Geist";
    --typografiaUrbanist: "Urbanist";
    --colorPrincipal: #f59e0b;
    --colorDark: #18181b;
    --colorLigth: #71717a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 70px 0 0 15px;
    overflow-y: hidden;
}

.form .formulario__title {
    font: 700 2.2rem var(--typografiaGeist);
    text-align: center;
    margin: 0 0 0.5rem 0;
}


.form .formulario__title2 {
    font: 700 1.1rem var(--typografiaUrbanist);
    text-align: center;
    margin: 0 0 0 35%;
}

.formulario {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.input-box {
    position: relative;
}

.input-box label {
    font: 600 1rem var(--typografiaUrbanist);
    position: absolute;
    color: #8d8d8d;
    pointer-events: none;
    background-color: transparent;
    left: 40px;
    top: 18px;
    transform: translateY(0.6rem);
    transition: all 0.3s ease;
}

.input-box .label--form2 {
    left: 70px;
}

.input-box input {
    margin: 10px 0 20px 20px;
    background-color: transparent;
    border: 1px solid #ccc;
    font: 600 1rem var(--typografiaUrbanist);
    padding: 10px 15px;
    border-radius: 5px;
    width: 400px;
    height: 55px;
    letter-spacing: 1px;
    outline: none;
}

.input-box input:focus {
    outline: none;
    border: 2px solid #0034de;
}

.input-box input:focus~label,
.input-box input:not(:placeholder-shown)~label {
    background-color: #fff;
    transform: translateY(-80%) translateX(-10px) scale(0.9);
    padding: 0 5px;
    color: #0034de;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    border-radius: 100px;
}

.custom-select-wrapper {
    position: relative;
    width: 400px;
    margin: 10px 0 10px 20px;
}

.styled-select {
    width: 100%;
    height: 55px;
    padding: 12px 16px;
    padding-right: 40px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 8px;
    font: 600 1rem var(--typografiaUrbanist);
    color: #8d8d8d;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.styled-select option {
    color: #333;
    background-color: #ffffff;
    font: 600 1rem var(--typografiaUrbanist);
}

.styled-select:focus {
    outline: none;
}

.custom-arrow {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
    font-size: 16px;
    color: #666;
    pointer-events: none;
}

.custom-arrow.rotate {
    transform: translateY(-50%) rotate(180deg);
}

.box__icon i {
    position: absolute;
    top: 25px;
    left: 89%;
    font: 900 1.2rem var(--typografiaUrbanist);

}

.icon--form2 i {
    left: 85%;
}

.box__icon .ri-check-line {
    background-color: #34A853;
    border-radius: 50%;
    padding: 1px 1px;
    color: #fff;
    display: none;
}

.box__icon .ri-close-line {
    background-color: #fd1f1f;
    border-radius: 50%;
    padding: 1px 1px;
    color: #fff;
    display: none;
}

.input__error {
    font: 600 1rem var(--typografiaUrbanist);
    width: 400px;
    margin: 0 0 10px 20px;
    display: none;
}


.error--changed {
    margin: 30px 0 10px 20px;
}

.error--form2 {
    width: 400px;
    margin: 0 0 10px 25px;
}

.error--nit,
.error--social,
.error--tel {
    margin: 0 0 10px 35px;
}

.error--email {
    white-space: wrap;
    width: 400px;
    margin: 0 0 10px 30px;
}


.swal-title {
    font-family: 'Urbanist', sans-serif !important;
    font-weight: 600;
}

.swal-popup {
    font-family: 'Urbanist', sans-serif !important;
}

.formulario__input:nth-last-child(4) .input__error,
.formulario__input:nth-last-child(2) .input__error {
    margin-bottom: 15px;
}

.remember-forgot .forgot__label {
    accent-color: #0034de;
    font: 700 1rem var(--typografiaUrbanist);
    margin-left: 20px;
}

.remember-forgot input {
    margin-right: 15px;
}

.formulario .formulario__complete {
    color: #48f;
    cursor: pointer;
    margin-left: 16.5rem;
    font: 600 1.1rem var(--typografiaUrbanist);
}

.form .formulario__btn {
    font: 700 1.2rem var(--typografiaUrbanist);
    background-color: #48f;
    color: #fff;
    width: 100%;
    width: 550px;
    height: 55px;
    margin: 30px 10em 30px 0;
    border-radius: 5px;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    transition: background-color .7s ease;
}

.form .formulario__btn:hover {
    background-color: #0034de;
}

.formulario__btn-container {
    grid-column: span 2;
    margin: 5px 0 0 10em;
    display: flex;
    justify-content: center;
}


.icono__back {
    position: absolute;
    top: 20px;
    left: 2em;
}

.icono__back .regresar {
    font: 500 1.2rem var(--typografiaUrbanist);
    text-decoration: none;
    color: #0034de;
}

.icono__back i {
    font-size: 20px;
    color: #0034de;
}


.imagen__container {
    position: absolute;
    top: 0;
    left: 56em;
}

.imagen__container .container__login {
    width: 100%;
    max-width: 640px;
    min-height: 100vh;
    border-radius: 0 0 0 190px;
}


/* Ventana modal */
.modal__newadd {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(17, 17, 17, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    backdrop-filter: blur(4px);
    opacity: 1;
    visibility: visible;
    transition: opacity 0.25s ease, visibility 0.25s ease;
}

.newadd--hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* --- CONTENIDO DEL MODAL --- */
.modal__content {
    background: #fff;
    padding: 2rem 1.5rem 2rem 0;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    position: relative;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    font-family: 'Urbanist', sans-serif;
    text-align: center;
    animation: swalIn 0.35s ease forwards;
}

.modal__content .content__titulo {
    font: 600 1.5rem var(--typografiaGeist);
    margin-bottom: 1rem;

}

.modal__newadd.newadd--hidden .modal__content {
    animation: swalOut 0.3s ease forwards;
}

.swal2-container {
    z-index: 99999 !important;
}

@keyframes swalIn {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }

    45% {
        opacity: 1;
        transform: scale(1.05);
    }

    80% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes swalOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.7);
    }
}

.modal__close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.6rem;
    color: #aaa;
    cursor: pointer;
    transition: 0.25s ease;
}

.modal__close:hover {
    color: #000;
    transform: scale(1.2);
}

.formulario__button {
    font: 700 1rem var(--typografiaUrbanist);
    background-color: #48f;
    color: #fff;
    width: 100%;
    width: 400px;
    margin: 0 0 0 1rem;
    height: 55px;
    border-radius: 5px;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    transition: background-color .7s ease;
}

.formulario__button:hover {
    background-color: #0034de;
}