@import url("./style.css");

:root {
    --typografiaGeist: "Geist";
    --typografiaUrbanist: "Urbanist";
    --colorPrincipal: #f59e0b;
    --colorDark: #18181b;
    --colorLigth: #71717a;
    --colorCafe: #8e705c;
    --colorWhite: #ffffff;
}

.section__ver {
    min-height: 100vh;
    position: relative;
    padding-top: 150px;
}

.details__enlaces {
    position: absolute;
    top: 15%;
    left: 5%;
}

.details__enlaces a {
    font: 700 1.1rem var(--typografiaUrbanist);
    text-decoration: none;
    color: #000000;
}

.details__enlaces a:last-child {
    display: inline-block;
    max-width: 180px;
    white-space: nowrap;
    color: red;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
}

.details__enlaces a:hover {
    text-decoration: underline;
}

.container__flex {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}


.flex__img img {
    width: 100%;
    height: auto;
    display: block;
}


.flex__details {
    display: flex;
    flex-direction: column;
    width: 700px;
    margin: 30px 0 0 0;
}

.flex__details .details__category {
    color: #f472b6;
    margin-bottom: 0.4rem;
    font: 700 2rem var(--typografiaUrbanist);
}


.flex__details .details__name {
    font: 700 2.5rem var(--typografiaUrbanist);
    margin: 0 0 1rem 0;
}

.details__precie {
    display: flex;
    gap: 0.4rem;
}

.details__precie .precie__total {
    font: 700 1.7rem var(--typografiaUrbanist);
    margin: 0 0 1rem 0;
}

.details__precie .total--desct {
    color: #71717a;
    text-decoration: line-through;
}

.details__plus {
    display: flex;
    gap: 1rem;
}

/* Controles de cantidad */
.quantity-control {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    background: transparent;
    overflow: hidden;
    width: 120px;
    height: 36px;
    margin: 10px 0;
}

.quantity-control button {
    width: 36px;
    height: 100%;
    border: none;
    background-color: #f6f6f7 !important;
    color: #505050 !important;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}


.quantity-control span {
    flex: 1;
    font: 700 1.2rem var(--typografiaUrbanist);
    text-align: center;
    padding: 8px 15px;
    background-color: #f6f6f7 !important;
    color: #505050 !important;
}

/* Controles de cantidad */
.plus__control {
    display: flex;
    gap: 0.3rem;
    justify-content: center;
    align-items: center;
    background: transparent;
    overflow: hidden;
    width: 170px;
    height: 50px;
    margin: 5px 0 0 0;
}

.plus__control button {
    width: 170px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #f6f6f7 !important;
    color: #505050 !important;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}


.plus__control .control__qty {
    flex: 1;
    font: 700 1.2rem var(--typografiaUrbanist);
    text-align: center;
    border-radius: 10px;
    padding: 18px 20px;
    background-color: #f6f6f7 !important;
    color: #505050 !important;
}

.flex__details .details__addCard {
    width: 100%;
    max-width: 250px;
    border-radius: 5px;
    height: 60px;
    font: 700 1.3rem var(--typografiaUrbanist);
    cursor: pointer;
    border: none;
    background-color: var(--colorCafe);
    color: var(--colorWhite);
    margin: 0 0 1rem 0;
}

.details__informacionProd {
    margin: 2rem 0 0 0;
    display: flex;
    flex-direction: column;
}

.informacionProd__titles {
    display: flex;
    gap: 5rem;
}

.informacionProd__titles .complemento__title {
    font: 600 1.4rem var(--typografiaUrbanist);
    cursor: pointer;
}

.informacionProd__titles .complemento__title.active {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

.informacionProd__titles .complemento__title.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, transparent, red, transparent);
}


.informacionProd__texts {
    width: 100%;
}

.informacionProd__texts .complemento__text {
    width: 100%;
    margin: 0.8rem 0 1rem 0;
    font: 500 1.1rem var(--typografiaUrbanist);
    color: var(--colorDark);
    display: none;

}

.informacionProd__texts .complemento__text.active {
    display: block;
}