<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" th:href="@{/Css/AgregarCategoria.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="image/x-icon" th:href="@{/Assets/Img/Logos/LogoBeer.png}">
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
          integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css"
          integrity="sha512-kJlvECunwXftkPwyvHbclArO8wszgBGisiLeuDFwNM8ws+wKIw0sv1os3ClWZOcrEB2eRXULYUsm8OVRGJKwGA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <!-- Quill CSS -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <title>Dashboard Agregar Categoria || E-ecommer Beer</title>
    <meta name="description" content="">
    <meta name="autor" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index,follow">
</head>

<body>
<div class="container__dashboard">

    <aside class="dashboard__sidebar">

        <figure class="sidebar__logo">
            <img th:src="@{/Assets/Img/logos/LogoBeer.png}" alt="Logo dashboard">
            <figcaption class="logo__acronimo">OroImport</figcaption>
        </figure>

        <ul class="sidebar__menu">
            <li class="sidebar__item">
                <i class="ri-home-4-line"></i>
                <a href="Dashboard.html" class="sidebar__text">Panel De Control</a>
            </li>

            <p class="menu__title">Administracion De Tiendas</p>

            <li class="sidebar__item">
                <i class="ri-shopping-cart-2-line"></i>
                <a href="DashboardProducto.html" class="sidebar__text">Productos</a>
            </li>

            <li class="sidebar__item active">
                <i class="ri-list-unordered"></i>
                <a href="DashboardCategoria.html" class="sidebar__text">Categorias</a>
            </li>

            <li class="sidebar__item">
                <i class="ri-shopping-bag-4-line"></i>
                <a href="" class="sidebar__text">Compras</a>
            </li>

            <li class="sidebar__item">
                <i class="ri-group-line"></i>
                <a href="" class="sidebar__text">Clientes</a>
            </li>

            <li class="sidebar__item">
                <i class="ri-star-line"></i>
                <a href="" class="sidebar__text">Reseñas</a>
            </li>

            <p class="menu__title">Configuracion Del Sitio</p>

            <li class="sidebar__item">
                <i class="ri-news-line"></i>
                <a href="" class="sidebar__text">Blog</a>
            </li>

            <li class="sidebar__item">
                <i class="ri-question-answer-line"></i>
                <a href="" class="sidebar__text">PQRS</a>
            </li>
        </ul>

    </aside>

    <main class="dashboard__content">
        <header class="content__header">

            <!-- Barra de búsqueda -->
            <div class="header__search">
                <input type="text" placeholder="Buscar...">
                <i class="ri-search-line"></i>
            </div>

            <div class="header__admin">
                <!-- Icono de notificaciones -->
                <div class="header__notifications">
                    <i id="notifIcon" class="ri-notification-3-line"></i>
                    <span class="notif__badge">3</span>

                    <!-- Menú desplegable de notificaciones -->
                    <div class="notif__menu" id="notifMenu">
                        <div class="notif__header">
                            <h3>Notificaciones</h3>
                            <small>
                                Tienes 2 mensajes sin leer
                                <i class="ri-check-double-line"></i>
                            </small>

                        </div>

                        <div class="notif__item unread">
                            <img th:src="@{/Assets/Img/ExperenciaUsuarios/rostroCuatro.jpeg}" alt="User">
                            <div class="notif__text">
                                <p><strong>Su pedido ha sido realizado</strong> <br><span>esperando el envío</span>
                                </p>
                                <small> <i class="ri-time-line"></i> Hace 1 minuto</small>
                            </div>
                        </div>

                        <div class="notif__item">
                            <img th:src="@{/Assets/Img/ExperenciaUsuarios/rostroSeis.jpeg}" alt="User">
                            <div class="notif__text">
                                <p><strong>Jitu Chauhan</strong> <span>respondió a tu lista de pedidos pendientes
                                            con
                                            notas</span> </p>
                                <small> <i class="ri-time-line"></i> Hace 2 días</small>
                            </div>
                        </div>

                        <div class="notif__item">
                            <img th:src="@{/Assets/Img/ExperenciaUsuarios/rostroUno.jpeg}" alt="User">
                            <div class="notif__text">
                                <p><strong>Tienes mensajes nuevos</strong> <span>2 mensajes no leídos</span></p>
                                <small> <i class="ri-time-line"></i> Hace 2 días</small>
                            </div>
                        </div>


                        <div class="notif__footer">
                            <a href="#">Ver todo</a>
                        </div>
                    </div>

                </div>

                <!-- Foto de usuario -->
                <div class="header__user">
                    <img id="user__admin" th:src="@{/Assets/Img/ExperenciaUsuarios/rostroCuatro.jpeg}"
                         alt="Usuario">

                    <div class="nav__menu" id="SubMenu">
                        <div class="menu__sub">
                            <div class="sub__info">
                                <span class="info__admin">Administrador de OroImport</span>
                                <span class="info__title">joseandres@gmail.com</span>
                            </div>
                            <hr>

                            <a href="Perfil.html" class="sub__link">
                                <p class="link__text">Perfil</p>
                            </a>

                            <a href="Configuraciones.html" class="sub__link">
                                <p class="link__text">Configuracion</p>
                            </a>

                            <a href="Notificaciones.html" class="sub__link">
                                <p class="link__text">Notificaciones</p>
                            </a>

                            <a href="Index.html" class="sub__link">
                                <p class="link__text">Cerrar Seccion</p>
                            </a>
                        </div>
                    </div>

                </div>

            </div>
        </header>

        <section class="content__body">

            <div class="body__titleheader">
                <div class="titleheader__producto">
                    <h2 class="producto__titulo">Agregar nueva categoria</h2>
                </div>

                <div class="titleheader__btn">
                    <a href="DashboardCategoria.html">Volver a categorias</a>
                </div>
            </div>

            <div class="body__registrarproducto">
                <div class="registrarproducto__productoinformacion">

                    <div class="productoinformacion__formulario">

                        <form class="formulario__producto" id="formularioProducto" action="">
                            <h2 class="producto__title">Información de la categoria
                            </h2>

                            <div class="producto__input">

                                <!-- CATEGORÍA PRINCIPAL -->
                                <div class="input__formulario">
                                    <div class="formulario__customselect">
                                        <select class="customselect__styled" id="categoriaPrincipal">
                                            <option disabled selected>Categoria principal</option>
                                            <option value="Vino">Vino</option>
                                            <option value="Cerveza">Cerveza</option>
                                            <option value="Whisky">Whisky</option>
                                            <option value="Tequila">Tequila</option>
                                            <option value="Vodka">Vodka</option>
                                            <option value="Ginebra">Ginebra</option>
                                            <option value="Aguardiente">Aguardiente</option>
                                            <option value="Ron">Ron</option>
                                            <option value="Mezcal">Mezcal</option>
                                        </select>
                                        <i class="fa-solid fa-chevron-down custom-arrow" id="arrowIcon"></i>
                                    </div>
                                    <p class="formulario__error error--CategoriaPrincipal">
                                        Selecciona una categoria principal para la categoria.
                                    </p>
                                </div>

                                <!-- CATEGORÍA Secundaria -->
                                <div class="input__formulario">
                                    <div class="formulario__box" id="subcategoriaBox">
                                        <input type="text" autocomplete="off" placeholder="" name="SubCategoria"
                                               id="Subcategoria">
                                        <label class="box__label" for="Subcategoria">Sub-Categoría</label>
                                        <span class="box__icon"><i class="ri-check-line"></i></span>
                                        <span class="box__icon"><i class="ri-close-line"></i></span>

                                        <!-- Lista de subcategorías agregadas -->
                                        <div id="subcategoriaLista" class="lista-subcategorias oculto"></div>
                                    </div>

                                    <!-- Campo oculto para enviar las subcategorías -->
                                    <input type="hidden" name="subcategoriasHidden" id="subcategoriasHidden">

                                    <p class="formulario__error">
                                        Debes agregar al menos una subcategoría antes de continuar
                                    </p>
                                </div>

                                <h2 class="input__estados">Estados de la categoria</h2>

                                <div class="input__formulario estados__container">

                                    <div class="container__radio">
                                        <label class="radio__option activo">
                                            <input type="radio" name="estado" value="activo">
                                            <span class="radio__custom"></span>
                                            Activo
                                        </label>

                                        <label class="radio__option inactivo">
                                            <input type="radio" name="estado" value="inactivo">
                                            <span class="radio__custom"></span>
                                            Inactivo
                                        </label>
                                    </div>

                                    <p class="formulario__error error--estado">
                                        Por favor, debes seleccionar un estado de la categoria
                                    </p>

                                </div>

                                <div class="input__formulario" id="formulario__imagen">
                                    <h2 class="formulario__title">Imágen de la categoria</h2>
                                    <div class="formulario__boximagen">
                                        <p class="boximagen__texto">Suelte los archivos aqui para cargarlos</p>
                                        <input type="file" id="fileInput" accept="image/*" hidden>
                                        <div class="preview-container" id="previewContainer"></div>
                                    </div>

                                    <p class="formulario__error error--formato">
                                        Solo se permiten archivos con formato JPG, PNG o WEBP..
                                    </p>

                                    <p class="formulario__error error--vacio">
                                        Debes subir al menos una imagen de la categoria.
                                    </p>
                                </div>

                                <div class="input__formulario" id="formulario__descripcion">
                                    <h2 class="formulario__title">Descripción de la categoria</h2>
                                    <div class="formulario__boxdescripcion">
                                        <div id="editor-container"></div>
                                    </div>

                                    <p class="formulario__error error--descripcion">
                                        Por favor, agrega una descripción de la categoria antes de continuar.
                                    </p>
                                </div>

                                <button class="input__btn">Crear Categoria</button>


                            </div>

                        </form>

                    </div>

                </div>

            </div>

        </section>
    </main>
</div>

<!-- Quill JS -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script th:src="@{/Js/AgregarCategoria.js}"></script>
</body>

</html>