<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="../static/Css/Blog.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
        integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css"
        integrity="sha512-kJlvECunwXftkPwyvHbclArO8wszgBGisiLeuDFwNM8ws+wKIw0sv1os3ClWZOcrEB2eRXULYUsm8OVRGJKwGA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Blog || E-ecommer Beer</title>
    <meta name="description" content="">
    <meta name="autor" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index,follow">
</head>

<body>
    <header class="header">
        <h1 class="header__logo">HoreecarBeer</h2>

            <nav class="header__navbar">
                <ul class="navbar__list">
                    <li class="list__item"><a href="Index.html" class="item__link">Inicio</a></li>
                    <li class="list__item"><a href="Pack.html" class="item__link">Packs</a></li>
                    <li class="list__item"><a href="productos.html" class="item__link">Productos</a></li>
                    <li class="list__item"><a href="" class="item__link active">Blog</a></li>
                    <li class="list__item"><a href="Contactos.html" class="item__link">Contactenos</a></li>
                </ul>
            </nav>

            <div class="list__icon">

                <span class="icon__item language-selector">
                    <div class="language-dropdown">
                        <button class="dropdown-toggle">
                            <i class="ri-translate-2"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li>Español</li>
                            <li>English</li>
                            <li>France</li>
                            <li>Portugues</li>
                        </ul>
                    </div>
                </span>

                <span class="icon__item">
                    <i class="ri-search-line"></i>
                </span>

                <span class="icon__item">
                    <i class="ri-user-line"></i>

                    <div class="nav__menu" id="SubMenu">
                        <div class="menu__sub">

                            <a href="login.html" class="sub__link">
                                <p class="link__text">Iniciar Sesion</p>
                            </a>

                            <a href="registro.html" class="sub__link">
                                <p class="link__text">Registro</p>
                            </a>

                            <a href="RecordarContrasena.html" class="sub__link">
                                <p class="link__text">Recordar Contraseña</p>
                            </a>

                        </div>
                    </div>

                    <div class="nav__menu" id="SubMenu">
                        <div class="menu__sub">
                            <div class="sub__info">
                                <i class="ri-user-line"></i>
                                <h2 class="info__title">Keyner Reyes</h2>
                            </div>
                            <hr>

                            <a href="" class="sub__link">
                                <p class="link__text">Perfil</p>
                            </a>

                            <a href="" class="sub__link">
                                <p class="link__text">Configuracion</p>
                            </a>

                            <a href="" class="sub__link">
                                <p class="link__text">Notificaciones</p>
                            </a>

                            <a href="" class="sub__link">
                                <p class="link__text">Sus Pedidos</p>
                            </a>

                            <a href="" class="sub__link">
                                <p class="link__text">Cerrar Seccion</p>
                            </a>
                        </div>
                    </div>

                </span>

                <span class="icon__item" id="go-fav">
                    <i class="ri-heart-3-line"></i>
                    <span class="icon__badge" id="fav-count"></span>
                </span>

                <span class="icon__item" id="cart-icon">
                    <i class="ri-shopping-cart-2-line"></i>
                    <span class="icon__badge" id="cart-count"></span>
                </span>
            </div>
    </header>

    <section class="blog">
        <div class="blog__container">

            <h2 class="container__title">Costa Oro Import Blog</h2>

            <div class="container__home">

                <figure class="home__img">
                    <img src="../static/Assets/Img/blog/blogOne.png" alt="blog">
                </figure>

                <div class="home__description">
                    <h2 class="description__titulo">
                        La Elegancia de los Licores Importados y Tradición
                    </h2>
                    <p class="description__texto">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis nihil saepe optio amet
                        inventore officiis placeat voluptatibus voluptas non, sequi aspernatur quisquam laudantium
                        architecto totam
                    </p>

                    <div class="description__tiempo">
                        <span class="tiempo__item">25 Agosto 2024</span>
                        <span class="tiempo__item">Tiempo De Lectura: <strong>6min</strong></span>
                    </div>
                </div>

            </div>

            <div class="blog__flex">

                <div class="blog__card">
                    <img src="../static/Assets/Img/blog/blogOne.png" alt="blog" />
                    <h4 class="card__title">Mastering Modern Minimalism</h4>
                    <p class="card__text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ipsam illum fugiat obcaecati
                        aut, repudiandae natus numquam eveniet nemo
                    </p>
                    <div class="card__tiempo">
                        <span class="tiempo__item">25 Agosto 2024</span>
                        <span class="tiempo__item">Tiempo De Lectura: <strong>6min</strong></span>
                    </div>
                </div>

                <div class="blog__card">
                    <img src="../static/Assets/Img/blog/blogTwo.png" alt="blog" />
                    <h4 class="card__title">The Fusion of Tech and Design</h4>
                    <p class="card__text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ipsam illum fugiat obcaecati
                        aut, repudiandae natus numquam eveniet nemo
                    </p>
                    <div class="card__tiempo">
                        <span class="tiempo__item">25 Agosto 2024</span>
                        <span class="tiempo__item">Tiempo De Lectura: <strong>0min</strong></span>
                    </div>
                </div>

                <div class="blog__card">
                    <img src="../static/Assets/Img/blog/blogTree.png" alt="blog" />
                    <h4 class="card__title">Eco-Friendly Modern Interiors</h4>
                    <p class="card__text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ipsam illum fugiat obcaecati
                        aut, repudiandae natus numquam eveniet nemo
                    </p>
                    <div class="card__tiempo">
                        <span class="tiempo__item">25 Agosto 2024</span>
                        <span class="tiempo__item">Tiempo De Lectura: <strong>11min</strong></span>
                    </div>
                </div>

                <div class="blog__card">
                    <img src="../static/Assets/Img/blog/blogOne.png" alt="blog" />
                    <h4 class="card__title">Mastering Modern Minimalism</h4>
                    <p class="card__text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ipsam illum fugiat obcaecati
                        aut, repudiandae natus numquam eveniet nemo
                    </p>
                    <div class="card__tiempo">
                        <span class="tiempo__item">25 Agosto 2024</span>
                        <span class="tiempo__item">Tiempo De Lectura: <strong>12min</strong></span>
                    </div>
                </div>

                <div class="blog__card">
                    <img src="../static/Assets/Img/blog/blogTwo.png" alt="blog" />
                    <h4 class="card__title">The Fusion of Tech and Design</h4>
                    <p class="card__text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ipsam illum fugiat obcaecati
                        aut, repudiandae natus numquam eveniet nemo
                    </p>
                    <div class="card__tiempo">
                        <span class="tiempo__item">25 Agosto 2024</span>
                        <span class="tiempo__item">Tiempo De Lectura: <strong>10min</strong></span>
                    </div>
                </div>

                <div class="blog__card">
                    <img src="../static/Assets/Img/blog/blogTree.png" alt="blog" />
                    <h4 class="card__title">Eco-Friendly Modern Interiors</h4>
                    <p class="card__text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ipsam illum fugiat obcaecati
                        aut, repudiandae natus numquam eveniet nemo
                    </p>
                    <div class="card__tiempo">
                        <span class="tiempo__item">25 Agosto 2024</span>
                        <span class="tiempo__item">Tiempo De Lectura: <strong>3min</strong></span>
                    </div>
                </div>

                <div class="blog__card">
                    <img src="../static/Assets/Img/blog/blogOne.png" alt="blog" />
                    <h4 class="card__title">Mastering Modern Minimalism</h4>
                    <p class="card__text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ipsam illum fugiat obcaecati
                        aut, repudiandae natus numquam eveniet nemo
                    </p>
                    <div class="card__tiempo">
                        <span class="tiempo__item">25 Agosto 2024</span>
                        <span class="tiempo__item">Tiempo De Lectura: <strong>4min</strong></span>
                    </div>
                </div>

                <div class="blog__card">
                    <img src="../static/Assets/Img/blog/blogTwo.png" alt="blog" />
                    <h4 class="card__title">The Fusion of Tech and Design</h4>
                    <p class="card__text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ipsam illum fugiat obcaecati
                        aut, repudiandae natus numquam eveniet nemo
                    </p>
                    <div class="card__tiempo">
                        <span class="tiempo__item">25 Agosto 2024</span>
                        <span class="tiempo__item">Tiempo De Lectura: <strong>5min</strong></span>
                    </div>
                </div>

                <div class="blog__card">
                    <img src="../static/Assets/Img/blog/blogTree.png" alt="blog" />
                    <h4 class="card__title">Eco-Friendly Modern Interiors</h4>
                    <p class="card__text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ipsam illum fugiat obcaecati
                        aut, repudiandae natus numquam eveniet nemo
                    </p>
                    <div class="card__tiempo">
                        <span class="tiempo__item">25 Agosto 2024</span>
                        <span class="tiempo__item">Tiempo De Lectura: <strong>1min</strong></span>
                    </div>
                </div>

            </div>

            <div class="pagination" id="pagination">
                <button id="prevBtn"><i class="ri-arrow-left-s-line"></i></button>
                <div class="pagination__Numbers">
                    <div class="button__pagination active" id="pageNumbers">1</div>
                    <div class="button__pagination" id="pageNumbers">2</div>
                    <div class="button__pagination" id="pageNumbers">3</div>
                    <div class="button__pagination" id="pageNumbers">4</div>
                </div>
                <button id="nextBtn"><i class="ri-arrow-right-s-line"></i></button>
            </div>

        </div>
    </section>

    <!-- ============= DRAWER DEL CARRITO ============= -->
    <div class="cart-overlay" id="cart-overlay"></div>
    <aside class="cart-drawer" id="cart-drawer">
        <header class="cart-header">
            <h3 class="header__carrito">Carrito De Compras</h3>
            <button id="cart-close"><i class="ri-close-line"></i></button>
        </header>

        <div class="cart-body">
            <ul class="cart-list" id="cart-list"></ul>
        </div>

        <footer class="cart-footer">
            <div class="cart-subtotal">
                <span>Subtotal:</span>
                <strong id="cart-subtotal">$0.00</strong>
            </div>
            <button id="seguir-comprando" class="btn-primary">Seguir Comprando</button>
            <button id="finalizar-compra" class="btn-primary">Finalizar compra</button>
        </footer>
    </aside>

    <footer class="footer">
        <div class="footer__subscripcion">
            <div class="subcripcion__informativa">
                <div class="informativa__subscribir">
                    <h2 class="subscribir__title">Suscríbete al Boletín Informativo</h2>
                    <p class="subscribir__text">
                        Recibe en tu correo nuestras últimas novedades y <span>las mejores ofertas especiales.</span>
                    </p>
                </div>

                <div class="informativa__formulario">
                    <form class="formulario__subcripcion" action="">
                        <div class="subcripcion__formulario">
                            <div class="formulario__input">
                                <input type="email" autocomplete="off" placeholder="Ingresa tu email" name="Email"
                                    id="email">
                                <button type="submit">Subcribete</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="footer__enlaces">

            <div class="enlaces__categoriaNosotros">
                <figure class="categoriaNosotros__logo">
                    <img src="" alt="">
                </figure>

                <ul class="categoriaNosotros__list">
                    <h4 class="list__title">Contactanos</h4>

                    <li class="list__item"><strong>Direccion: </strong>Fundacion Tecnologica De Comfenalco</li>
                    <li class="list__item"><strong>Telefono: </strong> +321458924</li>
                    <li class="list__item"><strong>Horarios: </strong> 7:00 - 17:00, Lunes - Viernes</li>

                    <h4 class="list__siguenos">Siguenos en</h4>

                    <div class="list__icon">
                        <li class="icon__social"><i class="ri-facebook-fill"></i></li>
                        <li class="icon__social"><i class="ri-twitter-fill"></i></li>
                        <li class="icon__social"><i class="ri-instagram-fill"></i></li>
                        <li class="icon__social"><i class="ri-pinterest-fill"></i></li>
                    </div>

                </ul>
            </div>

            <div class="enlaces__categoriaPopulares">
                <h2 class="categoriaPopulares__title">Categorias Populares</h2>

                <ul class="categoriasPopulares__list">
                    <li class="list__item"><a class="item__footer" href="">Lager</a></li>
                    <li class="list__item"><a class="item__footer" href="">Ale</a></li>
                    <li class="list__item"><a class="item__footer" href="">Vino tinto</a></li>
                    <li class="list__item"><a class="item__footer" href="">Vino blanco</a></li>
                    <li class="list__item"><a class="item__footer" href="">Whisky</a></li>
                    <li class="list__item"><a class="item__footer" href="">Vodka</a></li>
                    <li class="list__item"><a class="item__footer" href="">Licores de frutas</a></li>
                    <li class="list__item"><a class="item__footer" href="">Licores herbales</a></li>
                </ul>
            </div>

            <div class="enlaces__categoriaProductos">
                <h2 class="categoriaProductos__title">Productos</h2>

                <ul class="categoriaProductos__list">
                    <li class="list__item"><a class="item__footer" href="">Recién Llegados</a></li>
                    <li class="list__item"><a class="item__footer" href="">Nuevos Productos</a></li>
                    <li class="list__item"><a class="item__footer" href="">Catalogos</a></li>
                    <li class="list__item"><a class="item__footer" href="">Los precios bajan</a></li>
                    <li class="list__item"><a class="item__footer" href="">Las mejores ventas</a></li>
                    <li class="list__item"><a class="item__footer" href="">Mapa del sitio</a></li>
                    <li class="list__item"><a class="item__footer" href="">Paquete y ahorro</a></li>
                    <li class="list__item"><a class="item__footer" href="">Tarjeta de regalo en línea</a></li>
                </ul>
            </div>

            <div class="enlaces__instalar">
                <h2 class="instalar__title">Instalar App</h2>

                <ul class="instalar__list">
                    <li class="list__item">Desde App Store o Google Play</li>
                </ul>

                <div class="instalar__flex">
                    <figure>
                        <img src="../static/Assets/Img/footer/app.jpg" alt="">
                    </figure>
                    <figure>
                        <img src="../static/Assets/Img/footer/play.jpg" alt="">
                    </figure>
                </div>

                <ul class="instalar__list">
                    <li class="list__item item--pagos">Pasarelas de Pago Seguras</li>
                </ul>

                <figure>
                    <img src="../static/Assets/Img/footer/pay.png" alt="">
                </figure>
            </div>


        </div>

        <div class="instalar__copyright">
            <p class="copyright__text">© <span id="anio__pagina"></span>, Beer-E-ecommer - Todos los Derechos Reservados
                - Creado por <a href="#"><strong>Nosotros</strong></a></p>
        </div>
    </footer>



    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="../static/Js/Blog.js"></script>
</body>

</html>