<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="../static/Css/Dashboard.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
        integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css"
        integrity="sha512-kJlvECunwXftkPwyvHbclArO8wszgBGisiLeuDFwNM8ws+wKIw0sv1os3ClWZOcrEB2eRXULYUsm8OVRGJKwGA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <title>Dashboard || E-ecommer Beer</title>
    <meta name="description" content="">
    <meta name="autor" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index,follow">
</head>

<body>
    <div class="container__dashboard">

        <aside class="dashboard__sidebar">

            <figure class="sidebar__logo">
                <img src="../static/Assets/Img/logos/LogoBeer.png" alt="Logo dashboard">
                <figcaption class="logo__acronimo">OroImport</figcaption>
            </figure>

            <ul class="sidebar__menu">
                <li class="sidebar__item active">
                    <i class="ri-home-4-line"></i>
                    <a href="" class="sidebar__text">Panel De Control</a>
                </li>

                <p class="menu__title">Administracion De Tiendas</p>

                <li class="sidebar__item">
                    <i class="ri-shopping-cart-2-line"></i>
                    <a href="" class="sidebar__text">Productos</a>
                </li>

                <li class="sidebar__item">
                    <i class="ri-list-unordered"></i>
                    <a href="" class="sidebar__text">Categorias</a>
                </li>

                <li class="sidebar__item">
                    <i class="ri-shopping-bag-4-line"></i>
                    <a href="" class="sidebar__text">Compras</a>
                </li>

                <li class="sidebar__item">
                    <i class="ri-group-line"></i>
                    <a href="" class="sidebar__text">Clientes</a>
                </li>

                <li class="sidebar__item">
                    <i class="ri-star-line"></i>
                    <a href="" class="sidebar__text">Reseñas</a>
                </li>

                <p class="menu__title">Configuracion Del Sitio</p>

                <li class="sidebar__item">
                    <i class="ri-news-line"></i>
                    <a href="" class="sidebar__text">Blog</a>
                </li>

                <li class="sidebar__item">
                    <i class="ri-question-answer-line"></i>
                    <a href="" class="sidebar__text">PQRS</a>
                </li>
            </ul>

        </aside>

        <main class="dashboard__content">
            <header class="content__header">

                <!-- Barra de búsqueda -->
                <div class="header__search">
                    <input type="text" placeholder="Buscar...">
                    <i class="ri-search-line"></i>
                </div>

                <div class="header__admin">
                    <!-- Icono de notificaciones -->
                    <div class="header__notifications">
                        <i id="notifIcon" class="ri-notification-3-line"></i>
                        <span class="notif__badge">3</span>

                        <!-- Menú desplegable de notificaciones -->
                        <div class="notif__menu" id="notifMenu">
                            <div class="notif__header">
                                <h3>Notificaciones</h3>
                                <small>
                                    Tienes 2 mensajes sin leer
                                    <i class="ri-check-double-line"></i>
                                </small>

                            </div>

                            <div class="notif__item unread">
                                <img src="../static/Assets/Img/ExperenciaUsuarios/rostroCuatro.jpeg" alt="User">
                                <div class="notif__text">
                                    <p><strong>Su pedido ha sido realizado</strong> <br><span>esperando el envío</span>
                                    </p>
                                    <small> <i class="ri-time-line"></i> Hace 1 minuto</small>
                                </div>
                            </div>

                            <div class="notif__item">
                                <img src="../static/Assets/Img/ExperenciaUsuarios/rostroSeis.jpeg" alt="User">
                                <div class="notif__text">
                                    <p><strong>Jitu Chauhan</strong> <span>respondió a tu lista de pedidos pendientes
                                            con
                                            notas</span> </p>
                                    <small> <i class="ri-time-line"></i> Hace 2 días</small>
                                </div>
                            </div>

                            <div class="notif__item">
                                <img src="../static/Assets/Img/ExperenciaUsuarios/rostroUno.jpeg" alt="User">
                                <div class="notif__text">
                                    <p><strong>Tienes mensajes nuevos</strong> <span>2 mensajes no leídos</span></p>
                                    <small> <i class="ri-time-line"></i> Hace 2 días</small>
                                </div>
                            </div>


                            <div class="notif__footer">
                                <a href="#">Ver todo</a>
                            </div>
                        </div>

                    </div>

                    <!-- Foto de usuario -->
                    <div class="header__user">
                        <img id="user__admin" src="../static/Assets/Img/ExperenciaUsuarios/rostroCuatro.jpeg"
                            alt="Usuario">

                        <div class="nav__menu" id="SubMenu">
                            <div class="menu__sub">
                                <div class="sub__info">
                                    <span class="info__admin">Administrador de OroImport</span>
                                    <span class="info__title">joseandres@gmail.com</span>
                                </div>
                                <hr>

                                <a href="Perfil.html" class="sub__link">
                                    <p class="link__text">Perfil</p>
                                </a>

                                <a href="Configuraciones.html" class="sub__link">
                                    <p class="link__text">Configuracion</p>
                                </a>

                                <a href="Notificaciones.html" class="sub__link">
                                    <p class="link__text">Notificaciones</p>
                                </a>

                                <a href="Index.html" class="sub__link">
                                    <p class="link__text">Cerrar Seccion</p>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </header>

            <!-- graficas,notificaciones etc -->
            <section class="content__body">
                <div class="body__welcome">
                    <div class="welcome__detalle">
                        <h1 class="detalle__title">Bievenido De Nuevo! Oro Import</h1>
                        <p class="detalle__text">Costa De Oro Import Es un diseño simple y limpio para desarrolladores y
                            diseñadores.</p>
                        <button class="detalle__btn">Crear Producto</button>
                    </div>
                </div>

                <div class="body__datos">

                    <div class="datos__card">
                        <h2 class="card__title">Ganancias <span class="title__icon"><i class='bx bx-dollar'></i></span>
                        </h2>

                        <div class="card__ingresos">
                            <span class="ingresos__total">$1,589,420</span>
                            <span class="ingresos__text">Ingresos mensuales</span>
                        </div>
                    </div>

                    <div class="datos__card">
                        <h2 class="card__title">Compras<span class="title__icon"><i
                                    class="ri-shopping-cart-2-line"></i></span></h2>

                        <div class="card__ingresos">
                            <span class="ingresos__total">42,339</span>
                            <span class="ingresos__text"><strong>35+</strong> Nuevas ventas</span>
                        </div>


                    </div>

                    <div class="datos__card">
                        <h2 class="card__title">Clientes <span class="title__icon"><i class="ri-group-line"></i></span>
                        </h2>

                        <div class="card__ingresos">
                            <span class="ingresos__total">39,354</span>
                            <span class="ingresos__text"><strong>30+</strong> nuevo en 2 días</span>
                        </div>
                    </div>
                </div>

                <!-- Graficas del dashboard -->
                <div class="body__grafico">

                    <div class="grafico__item">
                        <h2 class="item__title">Ingresos</h2>
                        <div class="item__area" id="chart"></div>
                    </div>

                    <div class="grafico__item item--donut">
                        <h2 class="donut__title">Ventas totales</h2>
                        <div id="ventasTotales"></div>
                    </div>
                </div>

                <div class="body__grafico">
                    <div class="grafico__item item--horizontal">
                        <h2 class="horinzontal__title">Productos más vendidos </h2>
                        <div id="chart__Top5"></div>
                    </div>

                    <div class="grafico__item item--colum">
                        <h2 class="colum__title">Stock y Ventas</h2>
                        <div id="chart__Colum"></div>
                    </div>
                </div>

                <div class="body__grafico">
                    <div class="grafico__item item--heatmap">
                        <h2 class="heatmap__title">Ventas por Hora y Día de la Semana</h2>
                        <div id="heatmap"></div>
                    </div>

                    
                </div>

                <div class="body__table">

                </div>
            </section>
        </main>

    </div>



    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="../static/Js/Dashboard.js"></script>
</body>

</html>