<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
        integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css"
        integrity="sha512-kJlvECunwXftkPwyvHbclArO8wszgBGisiLeuDFwNM8ws+wKIw0sv1os3ClWZOcrEB2eRXULYUsm8OVRGJKwGA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>E-ecommer Beer</title>
    <meta name="description" content="">
    <meta name="autor" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index,follow">
</head>

<body>
    <div class="hero">
        <header class="header">
            <h1 class="header__logo">HoreecarBeer</h2>

                <nav class="header__navbar">
                    <ul class="navbar__list">
                        <li class="list__item"><a href="" class="item__link">Inicio</a></li>
                        <li class="list__item"><a href="" class="item__link">Sobre Nosotros</a></li>
                        <li class="list__item"><a href="" class="item__link">Productos</a></li>
                        <li class="list__item"><a href="" class="item__link">Blog</a></li>
                        <li class="list__item"><a href="" class="item__link">Contactenos</a></li>
                    </ul>
                </nav>

                <div class="list__icon">


                    <span class="icon__item language-selector">
                        <div class="language-dropdown">
                            <button class="dropdown-toggle">
                                <i class="ri-translate-2"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li>Español</li>
                                <li>English</li>
                                <li>France</li>
                                <li>Portugues</li>
                            </ul>
                        </div>
                    </span>

                    <span class="icon__item">
                        <i class="ri-search-line"></i>
                    </span>

                    <span class="icon__item">
                        <i class="ri-user-line"></i>
                    </span>

                    <span class="icon__item">
                        <i class="ri-heart-3-line"></i>
                        <span class="icon__badge" id="fav-count">0</span>
                    </span>

                    <span class="icon__item">
                        <i class="ri-shopping-cart-2-line"></i>
                        <span class="icon__badge" id="cart-count">0</span>
                    </span>
                </div>
        </header>

        <section class="hero__carousel">
            <div class="carousel__container">

                <!-- Slide 1: Paulaner -->
                <div class="carousel__slide active" data-theme="paulaner">
                    <div class="content__information">
                        <h3 class="information__title">Paulaner</h3>
                        <h2 class="information__subtitulo">Weissbier</h2>
                        <p class="information__text">
                            Desde Múnich, Alemania, llega esta tradicional cerveza de trigo con sabor suave y notas
                            afrutadas de
                            plátano y clavo de olor. Refrescante, turbia y con espuma cremosa, perfecta para disfrutar
                            fría y
                            acompañar platos ligeros. Una auténtica joya bávara elaborada según la Ley de Pureza de
                            1516.
                        </p>

                        <div class="information__button">
                            <div class="button__precio">
                                <span class="precio__shop shop--changed">Apartir de</span>
                                <span class="precio__shop shop--principal">$19.000</span>
                                <span class="precio__shop shop--descuento">$15.000</span>
                            </div>

                            <a href="" class="button__item">Comprame Ahora</a>
                        </div>

                        <div class="experencia__clientes">
                            <figure class="information__clientes">
                                <img src="../static/Assets/Img/ExperenciaUsuarios/rostroUno.jpeg" alt="">
                                <img src="../static/Assets/Img/ExperenciaUsuarios/rostroDos.jpeg" alt="">
                                <img src="../static/Assets/Img/ExperenciaUsuarios/rostrotres.jpeg" alt="">
                                <img src="../static/Assets/Img/ExperenciaUsuarios/rostroCuatro.jpeg" alt="">
                                <img src="../static/Assets/Img/ExperenciaUsuarios/rostroCinco.jpeg" alt="">
                                <img src="../static/Assets/Img/ExperenciaUsuarios/rostroSeis.jpeg" alt="">
                            </figure>

                            <div class="cliente__satif">
                                <span class="clientes__count">100<i class="ri-add-line"></i></span>
                                <span class="clientes__satisfied">Clientes Satisfechos</span>
                            </div>
                        </div>

                    </div>

                    <figure class="information__img">
                        <img src="../static/Assets/Img/CervezasHero/beer__maingood.png" alt="">
                    </figure>

                </div>

                <!-- Slide 2: Heinekein -->
                <div class="carousel__slide" data-theme="heineken">
                    <div class="content__information">
                        <h3 class="information__title">Heineken</h3>
                        <h2 class="information__subtitulo">Lager Beer</h2>
                        <p class="information__text">
                            Desde Ámsterdam, Países Bajos, llega esta reconocida lager europea con sabor
                            equilibrado
                            y notas suaves de malta y lúpulo. Refrescante, dorada y con espuma fina, perfecta
                            para
                            disfrutar
                            bien fría y acompañar comidas ligeras o momentos casuales. Una cerveza icónica con
                            más de
                            150 años
                            de historia y calidad mundial.
                        </p>

                        <div class="information__button">
                            <div class="button__precio">
                                <span class="precio__shop shop--changed">Apartir de</span>
                                <span class="precio__shop shop--principal">$5.400</span>
                                <span class="precio__shop shop--descuento">$3.900</span>
                            </div>

                            <a href="" class="button__item item--colorGren">Comprame Ahora</a>
                        </div>

                        <div class="experencia__clientes">
                            <figure class="information__clientes">
                                <img src="../static/Assets/Img/ExperenciaUsuarios/rostroUno.jpeg" alt="">
                                <img src="../static/Assets/Img/ExperenciaUsuarios/rostroDos.jpeg" alt="">
                                <img src="../static/Assets/Img/ExperenciaUsuarios/rostrotres.jpeg" alt="">
                                <img src="../static/Assets/Img/ExperenciaUsuarios/rostroCuatro.jpeg" alt="">
                                <img src="../static/Assets/Img/ExperenciaUsuarios/rostroCinco.jpeg" alt="">
                                <img src="../static/Assets/Img/ExperenciaUsuarios/rostroSeis.jpeg" alt="">
                            </figure>

                            <div class="cliente__satif">
                                <span class="clientes__count">100<i class="ri-add-line"></i></span>
                                <span class="clientes__satisfied">Clientes Satisfechos</span>
                            </div>
                        </div>

                    </div>

                    <figure class="information__img">
                        <img class="img--heineken" src="../static/Assets/Img/CervezasHero/cervezaHeineken.png" alt="">
                    </figure>
                </div>

                <!-- Slide 3: Budweiser -->
                <div class="carousel__slide" data-theme="budweiser">
                    <div class="content__information">
                        <h3 class="information__title"> budweiser</h3>
                        <h2 class="information__subtitulo subtitulo--changed">King Of Beers</h2>
                        <p class="information__text">
                            Desde St. Louis, Estados Unidos, llega esta emblemática lager americana con sabor
                            suave y un ligero dulzor de malta. Refrescante, dorada y con espuma ligera, perfecta para
                            disfrutar bien fría en encuentros casuales o celebraciones. Una cerveza legendaria con más
                            de
                            un siglo de historia, reconocida como “The King of Beers”.
                        </p>

                        <div class="information__button">
                            <div class="button__precio">
                                <span class="precio__shop shop--changed">Apartir de</span>
                                <span class="precio__shop shop--principal">$9.500</span>
                                <span class="precio__shop shop--descuento">$7.900</span>
                            </div>

                            <a href="" class="button__item item--colorRed">Comprame Ahora</a>
                        </div>

                        <div class="experencia__clientes">
                            <figure class="information__clientes">
                                <img src="../static/Assets/Img/ExperenciaUsuarios/rostroUno.jpeg" alt="">
                                <img src="../static/Assets/Img/ExperenciaUsuarios/rostroDos.jpeg" alt="">
                                <img src="../static/Assets/Img/ExperenciaUsuarios/rostrotres.jpeg" alt="">
                                <img src="../static/Assets/Img/ExperenciaUsuarios/rostroCuatro.jpeg" alt="">
                                <img src="../static/Assets/Img/ExperenciaUsuarios/rostroCinco.jpeg" alt="">
                                <img src="../static/Assets/Img/ExperenciaUsuarios/rostroSeis.jpeg" alt="">
                            </figure>

                            <div class="cliente__satif">
                                <span class="clientes__count">100<i class="ri-add-line"></i></span>
                                <span class="clientes__satisfied">Clientes Satisfechos</span>
                            </div>
                        </div>

                    </div>

                    <figure class="information__img">
                        <img class="img--budweiser" src="../static/Assets/Img/CervezasHero/budweiser.png" alt="">
                    </figure>
                </div>

                <!-- Slide 3: Guinness -->
                <div class="carousel__slide" data-theme="guinness">
                    <div class="content__information">
                        <h3 class="information__title">Guinness</h3>
                        <h2 class="information__subtitulo subtitulo--changed">Arthur Son</h2>
                        <p class="information__text">
                            Desde Dublín, Irlanda, llega esta emblemática stout negra con sabor
                            intenso y notas tostadas de café y chocolate. Cremosa, oscura y con espuma densa, perfecta
                            para disfrutar con calma en reuniones especiales o momentos de relajación. Una cerveza
                            legendaria
                            con más de dos siglos de historia, reconocida como un ícono mundial de la tradición
                            cervecera.
                        </p>

                        <div class="information__button">
                            <div class="button__precio">
                                <span class="precio__shop shop--changed">Apartir de</span>
                                <span class="precio__shop shop--principal">$50.000</span>
                                <span class="precio__shop shop--descuento">$45.000</span>
                            </div>

                            <a href="" class="button__item item--colorBlack">Comprame Ahora</a>
                        </div>

                        <div class="experencia__clientes">
                            <figure class="information__clientes">
                                <img src="../static/Assets/Img/ExperenciaUsuarios/rostroUno.jpeg" alt="">
                                <img src="../static/Assets/Img/ExperenciaUsuarios/rostroDos.jpeg" alt="">
                                <img src="../static/Assets/Img/ExperenciaUsuarios/rostrotres.jpeg" alt="">
                                <img src="../static/Assets/Img/ExperenciaUsuarios/rostroCuatro.jpeg" alt="">
                                <img src="../static/Assets/Img/ExperenciaUsuarios/rostroCinco.jpeg" alt="">
                                <img src="../static/Assets/Img/ExperenciaUsuarios/rostroSeis.jpeg" alt="">
                            </figure>

                            <div class="cliente__satif">
                                <span class="clientes__count">100<i class="ri-add-line"></i></span>
                                <span class="clientes__satisfied">Clientes Satisfechos</span>
                            </div>
                        </div>


                    </div>

                    <figure class="information__img">
                        <img src="../static/Assets/Img/CervezasHero/cervezaGuinness.png" alt="">
                    </figure>
                </div>

                <div class="carousel__arrows">
                    <button class="carousel__arrow carousel__arrow--left" data-direction="prev"><i
                            class="ri-arrow-left-s-line"></i>
                    </button>
                    <button class="carousel__arrow carousel__arrow--right" data-direction="next"><i
                            class="ri-arrow-right-s-line"></i>
                    </button>
                </div>


            </div>

        </section>
    </div>

    <section class="logos">
        <div class="logos__content">
            <div class="content__logos" id="logos">
                <figure class="logos__slide" id="slider">
                    <img src="../static/Assets/Img/Logos__Marcas/logoCervezaOne.png" alt="">
                    <img src="../static/Assets/Img/Logos__Marcas/logoCervezaTwo.png" alt="">
                    <img src="../static/Assets/Img/Logos__Marcas/logoCervezaTree.png" alt="">
                    <img src="../static/Assets/Img/Logos__Marcas/logoCervezaFour.png" alt="">
                    <img src="../static/Assets/Img/Logos__Marcas/logoCervezaFive.png" alt="">
                    <img src="../static/Assets/Img/Logos__Marcas/logoCervezaSix.png" alt="">
                    <img src="../static/Assets/Img/Logos__Marcas/logoCervezaSeven.png" alt="">
                    <img src="../static/Assets/Img/Logos__Marcas/logoCervezaEigth.png" alt="">
                    <img src="../static/Assets/Img/Logos__Marcas/logoCervezaNainpng.png" alt="">
                </figure>
            </div>
        </div>
    </section>

    <section class="about">
        <div class="about__container">
            <figure class="image-main">
                <img src="https://storage.googleapis.com/a1aa/image/2cf24bb1-b8b5-421e-a71b-c2d2eaad3f55.jpg" alt="">
            </figure>
            <div class="container__content">
                <figure class="image-row">
                    <img src="https://storage.googleapis.com/a1aa/image/3e7c4a3a-190a-48ac-fd76-aa754834f22f.jpg"
                        alt="">
                    <img src="https://storage.googleapis.com/a1aa/image/68438ad3-c3a0-4779-ab20-c2441b65bee4.jpg"
                        alt="H">
                </figure>
                <div class="information__description">
                    <h2 class="description__title">Sobre Nosotros</h2>
                    <p class="description__text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi maxime quaerat reprehenderit!
                        Similique eos dignissimos enim laudantium asperiores. Provident vitae error rem aliquam nobis
                        dolorem mollitia labore ea? Deserunt, saepe.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi maxime quaerat reprehenderit!
                        Similique eos dignissimos enim laudantium asperiores. Provident vitae error rem aliquam nobis
                        dolorem mollitia labore ea? Deserunt, saepe.
                        reprehenderit! Similique eos dignissimos enim laudantium asperiores. Provident vitae error rem
                        aliquam nobis dolorem mollitia labore ea? Deserunt, saepe.
                    </p>

                    <a href="" class="description__btn">Mas Informacion</a>
                </div>
            </div>
        </div>
    </section>

    <main>
        <section class="productos">
            <div class="productos__contenido">

                <div class="contenido__header">
                    <h2 class="contenido__title">Populares Categorias</h2>
                    <div class="carta__flechas">
                        <button class="carta__flechas__arrow carta__flechas__arrow--left" data-direction="prev">
                            <i class="ri-arrow-left-s-line"></i>
                        </button>
                        <button class="carta__flechas__arrow carta__flechas__arrow--right" data-direction="next">
                            <i class="ri-arrow-right-s-line"></i>
                        </button>
                    </div>
                </div>

                <div class="contenido__carta">
                    <div class="carta__item">
                        <figure class="item__img">
                            <img src="../static/Assets/Img/CervezasHero/cervezaGuinness.png" alt="">
                        </figure>
                        <h2 class="item__name">Lager</h2>
                    </div>

                    <div class="carta__item">
                        <figure class="item__img">
                            <img src="../static/Assets/Img/CervezasHero/cervezaGuinness.png" alt="">
                        </figure>
                        <h2 class="item__name">Lager</h2>
                    </div>

                    <div class="carta__item">
                        <figure class="item__img">
                            <img src="../static/Assets/Img/CervezasHero/cervezaGuinness.png" alt="">
                        </figure>
                        <h2 class="item__name">Lager</h2>
                    </div>

                    <div class="carta__item">
                        <figure class="item__img">
                            <img src="../static/Assets/Img/CervezasHero/cervezaGuinness.png" alt="">
                        </figure>
                        <h2 class="item__name">Lager</h2>
                    </div>

                    <div class="carta__item">
                        <figure class="item__img">
                            <img src="../static/Assets/Img/CervezasHero/cervezaGuinness.png" alt="">
                        </figure>
                        <h2 class="item__name">Lager</h2>
                    </div>

                    <div class="carta__item">
                        <figure class="item__img">
                            <img src="../static/Assets/Img/CervezasHero/cervezaGuinness.png" alt="">
                        </figure>
                        <h2 class="item__name">Lager</h2>
                    </div>

                </div>
            </div>

            <div class="productos__destacados">
                <h2 class="destacados__titles">Productos Destacados</h2>

                <div class="flex">
                    <!-- Product 1 -->
                    <div class="card">
                        <div class="badge badge-green">15%</div>
                        <img src="https://storage.googleapis.com/a1aa/image/3680380d-b8a5-4970-f159-567f08f309f2.jpg"
                            alt="Mens Winter Leathers Jacket, grey color, front view with open buttons" width="240"
                            height="240" />
                        <span class="category">Jacket</span>
                        <p class="description">Mens Winter Leathers Jackets</p>

                        <div class="stars">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-line"></i>
                            <i class="ri-star-line"></i>
                        </div>
                        <div class="price-container">
                            <span class="price">$48.00</span>
                            <span class="price-old">$75.00</span>
                        </div>

                        <!-- Íconos emergentes -->
                        <div class="card-icons">
                            <i class="ri-heart-line" title="Favorito"></i>
                            <i class="ri-shopping-cart-line" title="Agregar al carrito"></i>
                            <i class="ri-eye-line" title="Ver"></i>
                        </div>

                    </div>

                    <!-- Product 2 -->
                    <div class="card">
                        <img src="https://storage.googleapis.com/a1aa/image/d2e420a2-55d2-4c0a-4f9d-08fdaf51bdee.jpg"
                            alt=" Pure Garment Dyed Cotton Shirt, navy blue, long sleeve, buttoned up" width="240"
                            height="240" />
                        <span class="category">Shirt</span>
                        <p class="description">Pure Garment Dyed Cotton Shirt</p>

                        <div class="stars">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-line"></i>
                            <i class="ri-star-line"></i>
                        </div>

                        <div class="price-container">
                            <span class="price">$45.00</span>
                            <span class="price-old">$56.00</span>
                        </div>

                        <!-- Íconos emergentes -->
                        <div class="card-icons">
                            <i class="ri-heart-line" title="Favorito"></i>
                            <i class="ri-shopping-cart-line" title="Agregar al carrito"></i>
                            <i class="ri-eye-line" title="Ver"></i>
                        </div>
                    </div>

                    <!-- Product 3 -->
                    <div class="card">
                        <img src="https://storage.googleapis.com/a1aa/image/20c07dab-0487-496b-d557-70b48ae5b320.jpg"
                            alt="Men Yarn Fleece Full-Zip Jacket, brown color, double-breasted style" width="240"
                            height="240" />
                        <span class="category">Jacket</span>
                        <p class="description">MEN Yarn Fleece Full-Zip Jacket</p>

                        <div class="stars">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-line"></i>
                            <i class="ri-star-line"></i>
                        </div>

                        <div class="price-container">
                            <span class="price">$58.00</span>
                            <span class="price-old">$65.00</span>
                        </div>

                        <!-- Íconos emergentes -->
                        <div class="card-icons">
                            <i class="ri-heart-line" title="Favorito"></i>
                            <i class="ri-shopping-cart-line" title="Agregar al carrito"></i>
                            <i class="ri-eye-line" title="Ver"></i>
                        </div>
                    </div>

                    <!-- Product 4 -->
                    <div class="card">
                        <img src="../static/Assets/Img/AboutUs/faldaPrueba.jpg"
                            alt="Men Yarn Fleece Full-Zip Jacket, brown color, double-breasted style" width="240"
                            height="240" />
                        <span class="category">Skirt</span>
                        <p class="description">MEN Yarn Fleece Full-Zip Jacket</p>

                        <div class="stars">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-line"></i>
                            <i class="ri-star-line"></i>
                        </div>

                        <div class="price-container">
                            <span class="price">$58.00</span>
                            <span class="price-old">$65.00</span>
                        </div>

                        <!-- Íconos emergentes -->
                        <div class="card-icons">
                            <i class="ri-heart-line" title="Favorito"></i>
                            <i class="ri-shopping-cart-line" title="Agregar al carrito"></i>
                            <i class="ri-eye-line" title="Ver"></i>
                        </div>
                    </div>
                </div>

                <h2 class="destacados__titles">Recién Llegados</h2>

                <div class="flex">
                    <!-- Product 1 -->
                    <div class="card">
                        <div class="badge badge-green">15%</div>
                        <img src="https://storage.googleapis.com/a1aa/image/3680380d-b8a5-4970-f159-567f08f309f2.jpg"
                            alt="Mens Winter Leathers Jacket, grey color, front view with open buttons" width="240"
                            height="240" />
                        <span class="category">Jacket</span>
                        <p class="description">Mens Winter Leathers Jackets</p>

                        <div class="stars">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-line"></i>
                            <i class="ri-star-line"></i>
                        </div>
                        <div class="price-container">
                            <span class="price">$48.00</span>
                            <span class="price-old">$75.00</span>
                        </div>

                        <!-- Íconos emergentes -->
                        <div class="card-icons">
                            <i class="ri-heart-line" title="Favorito"></i>
                            <i class="ri-shopping-cart-line" title="Agregar al carrito"></i>
                            <i class="ri-eye-line" title="Ver"></i>
                        </div>

                    </div>

                    <!-- Product 2 -->
                    <div class="card">
                        <img src="https://storage.googleapis.com/a1aa/image/d2e420a2-55d2-4c0a-4f9d-08fdaf51bdee.jpg"
                            alt=" Pure Garment Dyed Cotton Shirt, navy blue, long sleeve, buttoned up" width="240"
                            height="240" />
                        <span class="category">Shirt</span>
                        <p class="description">Pure Garment Dyed Cotton Shirt</p>

                        <div class="stars">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-line"></i>
                            <i class="ri-star-line"></i>
                        </div>

                        <div class="price-container">
                            <span class="price">$45.00</span>
                            <span class="price-old">$56.00</span>
                        </div>

                        <!-- Íconos emergentes -->
                        <div class="card-icons">
                            <i class="ri-heart-line" title="Favorito"></i>
                            <i class="ri-shopping-cart-line" title="Agregar al carrito"></i>
                            <i class="ri-eye-line" title="Ver"></i>
                        </div>
                    </div>

                    <!-- Product 3 -->
                    <div class="card">
                        <img src="https://storage.googleapis.com/a1aa/image/20c07dab-0487-496b-d557-70b48ae5b320.jpg"
                            alt="Men Yarn Fleece Full-Zip Jacket, brown color, double-breasted style" width="240"
                            height="240" />
                        <span class="category">Jacket</span>
                        <p class="description">MEN Yarn Fleece Full-Zip Jacket</p>

                        <div class="stars">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-line"></i>
                            <i class="ri-star-line"></i>
                        </div>

                        <div class="price-container">
                            <span class="price">$58.00</span>
                            <span class="price-old">$65.00</span>
                        </div>

                        <!-- Íconos emergentes -->
                        <div class="card-icons">
                            <i class="ri-heart-line" title="Favorito"></i>
                            <i class="ri-shopping-cart-line" title="Agregar al carrito"></i>
                            <i class="ri-eye-line" title="Ver"></i>
                        </div>
                    </div>

                    <!-- Product 4 -->
                    <div class="card">
                        <img src="../static/Assets/Img/AboutUs/faldaPrueba.jpg"
                            alt="Men Yarn Fleece Full-Zip Jacket, brown color, double-breasted style" width="240"
                            height="240" />
                        <span class="category">Skirt</span>
                        <p class="description">MEN Yarn Fleece Full-Zip Jacket</p>

                        <div class="stars">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-line"></i>
                            <i class="ri-star-line"></i>
                        </div>

                        <div class="price-container">
                            <span class="price">$58.00</span>
                            <span class="price-old">$65.00</span>
                        </div>

                        <!-- Íconos emergentes -->
                        <div class="card-icons">
                            <i class="ri-heart-line" title="Favorito"></i>
                            <i class="ri-shopping-cart-line" title="Agregar al carrito"></i>
                            <i class="ri-eye-line" title="Ver"></i>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </main>

    <section class="banner">
        <h4 class="banner__title">Promociones Especiales</h4>
        <h2 class="banner__subtitulo">Obten un <span>50% de Descuento</span> en Todas las Cervezas y Vinos</h2>
        <button class="banner__btn">Explorar Mas</button>
    </section>

    <section class="elegir__contenedor">
        <img class="elegir__fondo" src="../static/Assets/Img/comprarNosotros/dot-bg.png" alt="fondo decorativo" />

        <div class="elegir__contenido">
            <h2 class="contenido__titulo">¿Por qué elegirnos?</h2>
            <p class="contenido__subtitulo">
                Experimenta creatividad y experiencia incomparables en diseño de interiores.
                Descubre por qué somos la elección ideal para tu espacio soñado.
            </p>

            <div class="elegir__rejilla">
                <div class="elegir__tarjeta">
                    <span class="elegir__icono"><i class="ri-truck-line"></i></span>
                    <h4 class="elegir__tarjeta-titulo">Envío rápido y gratuito</h4>
                    <p class="elegir__tarjeta-texto">
                        Eleva tu diseño interior con nuestro servicio de envío rápido y gratuito sin demoras.
                    </p>
                </div>

                <div class="elegir__tarjeta">
                    <span class="elegir__icono"><i class="ri-shopping-bag-3-line"></i></span>
                    <h4 class="elegir__tarjeta-titulo">Compra fácil</h4>
                    <p class="elegir__tarjeta-texto">
                        Descubre la elegancia sin esfuerzo: explora nuestras soluciones de diseño fáciles de adquirir.
                    </p>
                </div>

                <div class="elegir__tarjeta">
                    <span class="elegir__icono"><i class="ri-customer-service-2-line"></i></span>
                    <h4 class="elegir__tarjeta-titulo">Soporte 24/7</h4>
                    <p class="elegir__tarjeta-texto">
                        Disfruta de tranquilidad sabiendo que nuestro equipo está disponible en todo momento.
                    </p>
                </div>

                <div class="elegir__tarjeta">
                    <span class="elegir__icono"><i class="ri-loop-right-line"></i></span>
                    <h4 class="elegir__tarjeta-titulo">Devoluciones sin complicaciones</h4>
                    <p class="elegir__tarjeta-texto">
                        Creemos en el ajuste perfecto, y si no es así, facilitamos la devolución de artículos.
                    </p>
                </div>
            </div>
        </div>

        <figure class="elegir__imagen">
            <img src="../static/Assets/Img/comprarNosotros/choose.jpg" alt="imagen elegir" />
        </figure>
    </section>


    <footer class="footer">
        <div class="footer__subscripcion">
            <div class="subcripcion__informativa">
                <h2 class="informativa__title">Suscríbete al Boletín Informativo</h2>
                <p class="informativa__text">
                    Recibe actualizaciones por correo electrónico sobre nuestras últimas novedades y ofertas especiales
                </p>

                <div class="informativa__formulario">
                    <form class="formulario__subcripcion" action="">
                        <input type="email" name="Email" id="email">
                        <label for="email">Ingresa tu email</label>
                        <button type="submit">Subcribe</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="footer__enlaces">
            <div class="enlaces__categoriaPopulares">
                <h2 class="categoriaPopulares__title">Categorias Populares</h2>

                <ul class="categoriasPopulares__list">
                    <li class="list__item"><a href="">Lager</a></li>
                    <li class="list__item"><a href="">Ale</a></li>
                    <li class="list__item"><a href="">IPA</a></li>
                    <li class="list__item"><a href="">Vino tinto</a></li>
                    <li class="list__item"><a href="">Vino blanco</a></li>
                    <li class="list__item"><a href="">Whisky</a></li>
                    <li class="list__item"><a href="">Vodka</a></li>
                    <li class="list__item"><a href="">Licores de frutas</a></li>
                    <li class="list__item"><a href="">Licores herbales</a></li>
                </ul>
            </div>

            <div class="enlaces__categoriaProductos">
                <h2 class="categoriaProductos__title">Categorias Populares</h2>

                <ul class="categoriaProductos__list">
                    <li class="list__item"><a href="">Colecciones</a></li>
                    <li class="list__item"><a href="">Nuevos Productos</a></li>
                    <li class="list__item"><a href="">Catalogos</a></li>
                    <li class="list__item"><a href="">Contactanos</a></li>
                    <li class="list__item"><a href="">Los precios bajan</a></li>
                    <li class="list__item"><a href="">Las mejores ventas</a></li>
                    <li class="list__item"><a href="">Mapa del sitio</a></li>
                    <li class="list__item"><a href="">Paquete y ahorro</a></li>
                    <li class="list__item"><a href="">Tarjeta de regalo en línea</a></li>
                </ul>
            </div>

            <div class="enlaces__categoriaNosotros">
                <h2 class="categoriaNosotros__title">Sobre Nosotros</h2>

                <ul class="categoriaNosotros__list">
                    <li class="list__item"><a href="">Sobre Nosotros</a></li>
                    <li class="list__item"><a href="">Información de Entregas</a></li>
                    <li class="list__item"><a href="">Políticas de Privacidad</a></li>
                    <li class="list__item"><a href="">Contactanos</a></li>
                    <li class="list__item"><a href="">Terminos y Condiciones</a></li>
                    <li class="list__item"><a href="">Las mejores ventas</a></li>
                    <li class="list__item"><a href="">Mapa del sitio</a></li>
                    <li class="list__item"><a href="">Paquete y ahorro</a></li>
                    <li class="list__item"><a href="">Tarjeta de regalo en línea</a></li>
                </ul>
            </div>

            <div class="enlaces__categoriaNosotros">
                <h2 class="categoriaNosotros__title">Mi Cuenta</h2>

                <ul class="categoriaNosotros__list">
                    <li class="list__item"><a href="">Sobre Nosotros</a></li>
                    <li class="list__item"><a href="">Información de Entregas</a></li>
                    <li class="list__item"><a href="">Políticas de Privacidad</a></li>
                    <li class="list__item"><a href="">Contactanos</a></li>
                    <li class="list__item"><a href="">Terminos y Condiciones</a></li>
                    <li class="list__item"><a href="">Las mejores ventas</a></li>
                    <li class="list__item"><a href="">Mapa del sitio</a></li>
                    <li class="list__item"><a href="">Paquete y ahorro</a></li>
                    <li class="list__item"><a href="">Tarjeta de regalo en línea</a></li>
                </ul>
            </div>

            <div class="enlaces__categoriaNosotros">
                <h2 class="categoriaNosotros__title">Contactos</h2>

                <ul class="categoriaNosotros__list">
                    <li class="list__item"><a href="">Sobre Nosotros</a></li>
                    <li class="list__item"><a href="">Información de Entregas</a></li>
                    <li class="list__item"><a href="">Políticas de Privacidad</a></li>
                    <li class="list__item"><a href="">Contactanos</a></li>
                    <li class="list__item"><a href="">Terminos y Condiciones</a></li>
                    <li class="list__item"><a href="">Las mejores ventas</a></li>
                    <li class="list__item"><a href="">Mapa del sitio</a></li>
                    <li class="list__item"><a href="">Paquete y ahorro</a></li>
                    <li class="list__item"><a href="">Tarjeta de regalo en línea</a></li>
                </ul>
            </div>

        </div>
    </footer>




    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../static/Js/main.js"></script>
</body>

</html>