<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>E-Commerce Beer</title>
    <link rel="stylesheet" href="/Css/Todo.Css" th:href="@{/Css/Todo.Css}">
</head>
<body>
<div class="container">
    <h1>🍺 Bienvenido a E-Commerce Beer</h1>
    <p>Compra y disfruta las mejores cervezas artesanales</p>

    <div class="buttons">
        <a th:href="@{/auth/login}" class="btn btn-login">Iniciar Sesión</a>
        <a th:href="@{/auth/sign_up}" class="btn btn-register">Registrarse</a>
    </div>
</div>
</body>
</html>