<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
          integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css"
          integrity="sha512-kJlvECunwXftkPwyvHbclArO8wszgBGisiLeuDFwNM8ws+wKIw0sv1os3ClWZOcrEB2eRXULYUsm8OVRGJKwGA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>E-ecommer Beer</title>
    <meta name="description" content="">
    <meta name="autor" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index,follow">
</head>

<body>
<div class="hero">
    <header class="header">
        <h2 class="header__logo">HoreecarBeer</h2>
        <nav class="header__navbar">
            <ul class="navbar__list">
                <li class="list__item"><a href="" class="item__link">Inicio</a></li>
                <li class="list__item"><a href="" class="item__link">Productos</a></li>
                <li class="list__item"><a href="" class="item__link">Blog</a></li>
                <li class="list__item"><a href="" class="item__link">Acerca De</a></li>
                <li class="list__item"><a href="" class="item__link">Contactenos</a></li>
            </ul>

            <div class="list__icon">
                    <span class="icon__item language-selector">
                        <div class="language-dropdown">
                            <button class="dropdown-toggle">
                                <span class="selected-language">Español</span>
                                <i class="ri-arrow-down-s-line"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li>Español</li>
                                <li>English</li>
                                <li>France</li>
                                <li>Portugues</li>
                            </ul>
                        </div>
                    </span>

                <span class="icon__item">
                        <i class="ri-user-line"></i>
                    </span>

                <span class="icon__item">
                        <i class="ri-heart-3-line"></i>
                        <span class="icon__badge" id="fav-count">0</span>
                    </span>

                <span class="icon__item">
                        <i class="ri-shopping-cart-2-line"></i>
                        <span class="icon__badge" id="cart-count">0</span>
                    </span>
            </div>
        </nav>
    </header>

    <section class="hero__content">
        <div class="content__information">
            <h2 class="information__title">
                Bebidas Alcohólicas Internacionales en Cartagena
            </h2>
            <p class="information__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab amet hic maiores quam exercitationem
                consectetur doloremque alias quidem cum eveniet. Id temporibus aut eveniet corrupti tenetur adipisci
                saepe ex iusto!
            </p>

            <div class="information__button">
                <a href="" class="button__item">Mas Informacion <i class="ri-arrow-right-up-long-line"></i></a>
                <a href="" class="button__item">Pide tu cerveza ahora</a>
            </div>

            <figure class="information__img">
                <img src="../static/Assets/Img/beer__maingood.png" alt="">
            </figure>

            <figure class="information__clientes">
                <img src="../static/Assets/Img/ExperenciaUsuarios/rostroUno.jpeg" alt="">
                <img src="../static/Assets/Img/ExperenciaUsuarios/rostroDos.jpeg" alt="">
                <img src="../static/Assets/Img/ExperenciaUsuarios/rostrotres.jpeg" alt="">
                <img src="../static/Assets/Img/ExperenciaUsuarios/rostroCuatro.jpeg" alt="">
                <img src="../static/Assets/Img/ExperenciaUsuarios/rostroCinco.jpeg" alt="">
                <img src="../static/Assets/Img/ExperenciaUsuarios/rostroSeis.jpeg" alt="">
            </figure>

            <div class="experencia__clientes">
                <div class="clientes__estrellas">
                    <span class="clientes__icon"><i class="ri-star-fill"></i></span>
                    <span class="clientes__icon"><i class="ri-star-fill"></i></span>
                    <span class="clientes__icon"><i class="ri-star-fill"></i></span>
                    <span class="clientes__icon"><i class="ri-star-fill"></i></span>
                    <span class="clientes__icon"><i class="ri-star-fill"></i></span>
                </div>

                <div class="cliente__satif">
                    <span class="clientes__count">1,000<i class="ri-add-line"></i></span>
                    <span class="clientes__satisfied">Clientes Satisfechos</span>
                </div>
            </div>

            <!-- <div class="logos" id="logos">
                <figure class="logos__slide" id="slider">
                    <img src="../static/Assets/Img/Logos__Marcas/logoCervezaOne.png" alt="">
                    <img src="../static/Assets/Img/Logos__Marcas/logoCervezaTwo.png" alt="">
                    <img src="../static/Assets/Img/Logos__Marcas/logoCervezaTree.png" alt="">
                    <img src="../static/Assets/Img/Logos__Marcas/logoCervezaFour.png" alt="">
                    <img src="../static/Assets/Img/Logos__Marcas/logoCervezaFive.png" alt="">
                    <img src="../static/Assets/Img/Logos__Marcas/logoCervezaSix.png" alt="">
                    <img src="../static/Assets/Img/Logos__Marcas/logoCervezaSeven.png" alt="">
                    <img src="../static/Assets/Img/Logos__Marcas/logoCervezaEigth.png" alt="">
                    <img src="../static/Assets/Img/Logos__Marcas/logoCervezaNainpng.png" alt="">
                </figure>
            </div> -->

        </div>
    </section>
</div>

<section class="about">

</section>



<script src="../static/Js/main.js"></script>
</body>

</html>