<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Css/login.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
        integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css"
        integrity="sha512-kJlvECunwXftkPwyvHbclArO8wszgBGisiLeuDFwNM8ws+wKIw0sv1os3ClWZOcrEB2eRXULYUsm8OVRGJKwGA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Iniciar Seccion</title>
    <meta name="description" content="">
    <meta name="autor" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index,follow">
</head>

<body>
    <div class="contenido__form">

        <figure class="imagen__container">
            <img class="container__login" src="../static/Assets/Img/comprarNosotros/Elegirnos.png" alt="">
        </figure>

        <div class="form__login">

            <div class="icono__back">
                <i class="ri-arrow-left-s-line"></i>
                <a class="regresar" href="Index.html">Regresar a inicio</a>
            </div>

            <form class="form">
                <h1 class="formulario__title">Iniciar Sesion</h1>

                <span class="formulario__title2">use su contraseña para Iniciar Sesion</span>

                <div class="formulario">

                    <div class="formulario__input input--margintop">
                        <div class="input-box">
                            <input type="email" autocomplete="off" placeholder="" name="Email" id="email">
                            <label for="email">Email</label>
                            <span class="box__icon"><i class="ri-check-line"></i></span>
                            <span class="box__icon"><i class="ri-close-line"></i></span>
                        </div>
                        <p class="input__error error--changed2">
                            El correo solo puede contener letras,numeros,puntos,guiones y guion bajo.
                        </p>
                    </div>


                    <div class="formulario__input">
                        <div class="input-box">
                            <input type="password" autocomplete="off" placeholder="" name="Password" id="password">
                            <label for="password">Password</label>
                            <span class="box__icon"><i class="ri-check-line"></i></span>
                            <span class="box__icon"><i class="ri-close-line"></i></span>
                        </div>
                        <p class="input__error">
                            La contraseña tiene que ser de 4 a 15 digitos
                        </p>
                    </div>

                    <div class="formulario__input">
                        <div class="remember-forgot">
                            <label class="forgot__label"><input type="checkbox">Acepto Terminos y Condiciones</label>
                            <a class="forgot__color" href="">Recordar contraseña?</a>
                        </div>
                    </div>

                    <div class="formulario__input formulario__btn-container">
                        <button class="formulario__btn" type="submit">Iniciar Sesion</button>
                    </div>

                    <div class="registre-link">
                        <p>No tienes una cuenta?<a href="Registro.html">Registro</a></p>
                    </div>

                    <div class="container__otrascuentas">
                        <span class="otrascuentas__titles">O con</span>
                        <a href="" class="otrascuentas__btn">
                            <img loading="lazy" src="../static/Assets/Img/logos/google.svg" alt="">
                            Continuar con google
                        </a>

                    </div>
                </div>

            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../static/Js/login.js"></script>
</body>

</html>