<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="../static/Css/Perfil.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
        integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css"
        integrity="sha512-kJlvECunwXftkPwyvHbclArO8wszgBGisiLeuDFwNM8ws+wKIw0sv1os3ClWZOcrEB2eRXULYUsm8OVRGJKwGA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title> Perfil || E-ecommer Beer</title>
    <meta name="description" content="">
    <meta name="autor" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index,follow">
</head>

<body>
    <header class="header">
        <h1 class="header__logo">HoreecarBeer</h2>

            <nav class="header__navbar">
                <ul class="navbar__list">
                    <li class="list__item"><a href="Index.html" class="item__link">Inicio</a></li>
                    <li class="list__item"><a href="Pack.html" class="item__link">Packs</a></li>
                    <li class="list__item"><a href="productos.html" class="item__link">Productos</a></li>
                    <li class="list__item"><a href="Blog.html" class="item__link">Blog</a></li>
                    <li class="list__item"><a href="Contactos.html" class="item__link">Contactenos</a></li>
                </ul>
            </nav>

            <div class="list__icon">

                <span class="icon__item language-selector">
                    <div class="language-dropdown">
                        <button class="dropdown-toggle">
                            <i class="ri-translate-2"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li>Español</li>
                            <li>English</li>
                            <li>France</li>
                            <li>Portugues</li>
                        </ul>
                    </div>
                </span>

                <span class="icon__item">
                    <i class="ri-search-line"></i>
                </span>

                <span class="icon__item">
                    <i class="ri-user-line"></i>

                    <!-- <div class="nav__menu" id="SubMenu">
                            <div class="menu__sub">

                                <a href="login.html" class="sub__link">
                                    <p class="link__text">Iniciar Sesion</p>                                  
                                </a>

                                <a href="registro.html" class="sub__link">
                                    <p class="link__text">Registro</p>
                                </a>

                                <a href="RecordarContrasena.html" class="sub__link">
                                    <p class="link__text">Recordar Contraseña</p>                                    
                                </a>

                            </div>
                        </div> -->

                    <div class="nav__menu" id="SubMenu">
                        <div class="menu__sub">
                            <div class="sub__info">
                                <i class="ri-user-line"></i>
                                <h2 class="info__title">Keyner Reyes</h2>
                            </div>
                            <hr>

                            <a href="" class="sub__link">
                                <p class="link__text">Perfil</p>
                            </a>

                            <a href="Configuraciones.html" class="sub__link">
                                <p class="link__text">Configuracion</p>
                            </a>

                            <a href="Notificaciones.html" class="sub__link">
                                <p class="link__text">Notificaciones</p>
                            </a>

                            <a href="Pedidos.html" class="sub__link">
                                <p class="link__text">Sus Pedidos</p>
                            </a>

                            <a href="" class="sub__link">
                                <p class="link__text">Cerrar Seccion</p>
                            </a>
                        </div>
                    </div>

                </span>

                <span class="icon__item" id="go-fav">
                    <i class="ri-heart-3-line"></i>
                    <span class="icon__badge" id="fav-count"></span>
                </span>

                <span class="icon__item" id="cart-icon">
                    <i class="ri-shopping-cart-2-line"></i>
                    <span class="icon__badge" id="cart-count"></span>
                </span>
            </div>
    </header>

    <section class="perfil">

        <hr class="hr__horinzontal">

        <div class="perfil__container">

            <aside class="container__nav">
                <div class="nav__opciones">
                    <a href="" class="opciones__btn active"><i class="ri-user-line"></i> Perfil</a>
                    <a href="Configuraciones.html" class="opciones__btn"><i class="ri-settings-2-line"></i>
                        Configuracion</a>
                    <a href="Notificaciones.html" class="opciones__btn"><i class="ri-notification-2-line"></i>
                        Notificaciones</a>
                    <a href="Pedidos.html" class="opciones__btn"> <i class="ri-shopping-bag-3-line"></i> Sus Pedidos</a>
                    <hr class="hr__separar">
                    <a href="Index.html" class="opciones__btn"> <i class="ri-logout-box-r-line"></i> Cerrar Sesion</a>
                </div>
            </aside>

            <hr class="hr__vertical">

            <main class="container__main">
                <div class="main__perfil">


                    <div class="perfil__user">

                        <div class="perfil__user">

                            <div class="perfil__card">
                                <h2 class="card__title">Cambiar perfil</h2>
                                <p class="card__text">Cambia tu foto de perfil desde aquí</p>

                                <form id="formFoto" action="" method="" enctype="">
                                    <div class="card__img">
                                        <figure class="img__user">
                                            <img id="preview"
                                                src="../static/Assets/Img/ExperenciaUsuarios/imagen__user.jpg" alt="">
                                        </figure>

                                        <div class="img__btn">
                                            <div class="btn__item">
                                                <!-- Input de tipo file -->
                                                <input type="file" id="fileInput" name="fotoPerfil" accept="image/*"
                                                    hidden>

                                                <button type="button" class="item__button button--subir"
                                                    id="btnSubir">Subir</button>
                                                <button type="button" class="item__button button--restablecer"
                                                    id="btnRestablecer">Restablecer</button>
                                            </div>

                                            <p class="btn__text">JPG, GIF o PNG permitidos. Tamaño máximo de 800K</p>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="user__informacion">
                            <h2 class="informacion__title">Información del perfil</h2>

                            <p class="informacion__text">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi iure consequatur vero
                                quidem amet, magnam exercitationem repellat blanditiis eveniet aut nulla sed esse
                                pariatur architecto praesentium, id rem molestias similique.
                            </p>

                            <div class="informacion__datos">
                                <span class="datos__nombre"><strong>Nombre completo:</strong> Keyner Alfonso Reyes
                                    Tejedor</span>
                                <span class="datos__telelfono"><strong>Telefono:</strong> (+57) 313643769</span>
                                <span class="datos__correo"> <strong>Correo:</strong> Keiner@gmail.com</span>
                                <span class="datos__identificacion"> <strong>Tipo identificacion:</strong> Cedula</span>
                                <span class="datos__ubicacion"><strong>Identificacion:</strong> 1043658213</span>
                            </div>
                        </div>

                    </div>

                    <div class="perfil__personales">

                        <h2 class="personales__titles">Datos personales</h2>
                        <p class="personales__text">Para cambiar tus datos personales, edita y guarda desde aquí</p>

                        <form class="personales__formulario" action="">

                            <div class="formulario__input">
                                <div class="input-box">
                                    <input type="text" autocomplete="off" placeholder="" name="Nombre" id="nombre">
                                    <label class="label" for="contraseñaAntigua">Nombre</label>
                                    <span class="box__icon"><i class="ri-check-line"></i></span>
                                    <span class="box__icon"><i class="ri-close-line"></i></span>
                                </div>
                                <p class="input__error">
                                    El nombre debe tener al menos 3 letras y no contener números.
                                </p>
                            </div>

                            <div class="formulario__input">
                                <div class="input-box">
                                    <input type="text" autocomplete="off" placeholder="" name="Apellido" id="apellido">
                                    <label class="label" for="nuevaContraseña">Apellido</label>
                                    <span class="box__icon"><i class="ri-check-line"></i></span>
                                    <span class="box__icon"><i class="ri-close-line"></i></span>
                                </div>
                                <p class="input__error">
                                    El nombre debe tener al menos 3 letras y no contener números.
                                </p>
                            </div>

                            <div class="formulario__input">
                                <div class="custom-select-wrapper">
                                    <select class="styled-select" id="tipoIdentificacion">
                                        <option disabled selected>Tipo De Identificación</option>
                                        <option value="Cedula">CC (Cédula de Ciudadanía)</option>
                                        <option value="C.Extranjeria">CE (Cédula de Extranjería)</option>
                                        <option value="D.Extranjería">DE (Documento de Extranjería)</option>
                                        <option value="NIT">NIT (Identificación Tributaria)</option>
                                        <option value="PP">PP (Pasaporte)</option>
                                        <option value="RUT">RUT (Registro Único Tributario)</option>
                                        <option value="TEC">TE (Tarjeta de Extranjería)</option>
                                        <option value="T">TI (Tarjeta de Identidad)</option>
                                    </select>
                                    <i class="fa-solid fa-chevron-down custom-arrow" id="arrowIcon"></i>
                                </div>
                                <p class="input__error error--tipoIdentificacion">
                                    Por favor, seleccione un tipo de identificación.
                                </p>
                            </div>

                            <div class="formulario__input">
                                <div class="input-box">
                                    <input type="text" autocomplete="off" placeholder="" name="Identificacion"
                                        id="identificacion">
                                    <label for="identificacion">Identificacion</label>
                                    <span class="box__icon"><i class="ri-check-line"></i></span>
                                    <span class="box__icon"><i class="ri-close-line"></i></span>
                                </div>
                                <p class="input__error">
                                    La cédula debe contener entre 6 y 10 dígitos numéricos.
                                </p>
                            </div>

                            <div class="formulario__input">
                                <div class="input-box">
                                    <input type="email" autocomplete="off" placeholder="" name="Email" id="email">
                                    <label for="email">Email</label>
                                    <span class="box__icon"><i class="ri-check-line"></i></span>
                                    <span class="box__icon"><i class="ri-close-line"></i></span>
                                </div>
                                <p class="input__error error--changed2">
                                    El correo solo puede contener letras,numeros,puntos,guiones y guion bajo.
                                </p>
                            </div>

                            <div class="formulario__input">
                                <div class="input-box">
                                    <input type="text" autocomplete="off" placeholder="" name="Telefono" id="telefono">
                                    <label for="telefono">Telefono</label>
                                    <span class="box__icon"><i class="ri-check-line"></i></span>
                                    <span class="box__icon"><i class="ri-close-line"></i></span>
                                </div>
                                <p class="input__error">
                                    El teléfono solo puede contener numeros y el maximo son 10 digitos.
                                </p>
                            </div>


                            <div class="formulario__input formulario__btn-container">
                                <button class="formulario__btn" type="submit">Guardar</button>
                                <button class="formulario__btn btn--cancelar" type="submit">Cancelar</button>
                            </div>

                        </form>
                    </div>

                    <div class="perfil__user user--empresa">

                        <div class="perfil__card">
                            <h2 class="card__title title--empresa">Cambiar Empresa</h2>
                            <p class="card__text">Cambia la foto de perfil de la empresa</p>

                            <form id="formFotoEmpresa" action="" method=""
                                enctype="">
                                <div class="card__img">
                                    <figure class="img__user user--empresar">
                                        <img id="previewEmpresa" src="../static/Assets/Img/logos/logo__hotel2.png"
                                            alt="">
                                    </figure>

                                    <div class="img__btn">
                                        <div class="btn__item">
                                            <input type="file" id="fileInputEmpresa" name="fotoEmpresa" accept="image/*"
                                                hidden>

                                            <!-- Botón dinámico -->
                                            <button type="button" class="item__button button--subir"
                                                id="btnSubirEmpresa">Subir</button>
                                            <button type="button" class="item__button button--restablecer"
                                                id="btnRestablecerEmpresa">Restablecer</button>
                                        </div>

                                        <p class="btn__text">JPG, GIF o PNG permitidos. Tamaño máximo de 800K</p>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="empresa__informacion">
                            <h2 class="informacion__title">Información de la empresa</h2>

                            <p class="informacion__text">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi iure consequatur vero
                                quidem amet, magnam exercitationem repellat blanditiis eveniet aut nulla sed esse
                                pariatur architecto praesentium, id rem molestias similique.
                            </p>

                            <div class="empresas__datos">
                                <span class="datos__nit"><strong>Nit:</strong> 00055478554</span>
                                <span class="datos__social"><strong>Razon Social:</strong> </span>
                                <span class="datos__ciudad"><strong>Ciudad:</strong> Cartagena</span>
                                <span class="datos__direccion"><strong>Direccion:</strong> San Fernando Calle 45</span>
                                <span class="datos__correo"> <strong>Correo:</strong> beer@gmail.com</span>
                                <span class="datos__telefono"><strong>Telefono:</strong> 3004289582</span>
                                <span class="datos__sector"><strong>Sector:</strong> Hotel</span>
                            </div>
                        </div>

                    </div>

                    <div class="perfil__empresa">
                        <h2 class="empresa__titles">Datos empresa</h2>
                        <p class="empresa__text">Si pertenece alguna empresa rellene el siguiente formulario</p>

                        <form class="empresa__formulario" action="">

                            <div class="formulario__input">
                                <div class="input-box">
                                    <input type="text" autocomplete="off" placeholder="" name="Nit" id="nit">
                                    <label class="label" for="contraseñaAntigua">Nit</label>
                                    <span class="box__icon"><i class="ri-check-line"></i></span>
                                    <span class="box__icon"><i class="ri-close-line"></i></span>
                                </div>
                                <p class="input__error">
                                    El NIT no puede estar vacío y debe contener solo números.
                                </p>
                            </div>

                            <div class="formulario__input">
                                <div class="input-box">
                                    <input type="text" autocomplete="off" placeholder="" name="RazonSocial"
                                        id="razonSocial">
                                    <label class="label" for="razonSocial">Razon Social</label>
                                    <span class="box__icon"><i class="ri-check-line"></i></span>
                                    <span class="box__icon"><i class="ri-close-line"></i></span>
                                </div>
                                <p class="input__error">
                                    La razón social solo puede contener letras, espacios y debe tener entre 3 y 50
                                    caracteres.
                                </p>
                            </div>

                            <div class="formulario__input">
                                <div class="custom-select-wrapper wrapper--top">
                                    <select class="styled-select" id="Ciudad">
                                        <option disabled selected>Ciudad</option>
                                    </select>
                                    <i class="fa-solid fa-chevron-down custom-arrow" id="arrowIcon"></i>
                                </div>
                                <p class="input__error error--ciudad">
                                    Por favor, seleccione una ciudad.
                                </p>
                            </div>

                            <div class="formulario__input">
                                <div class="input-box">
                                    <input type="text" autocomplete="off" placeholder="" name="Direccion"
                                        id="direccion">
                                    <label for="direccion">Direccion</label>
                                    <span class="box__icon"><i class="ri-check-line"></i></span>
                                    <span class="box__icon"><i class="ri-close-line"></i></span>
                                </div>
                                <p class="input__error error--direccion">
                                    Ingresa una dirección válida (ej. Calle 45 #10-23, 130002 o San Fernando, Calle 45
                                    #10-23,
                                    130002).
                                </p>
                            </div>

                            <div class="formulario__input">
                                <div class="input-box">
                                    <input type="email" autocomplete="off" placeholder="" name="Email" id="correo">
                                    <label for="correo">Email</label>
                                    <span class="box__icon"><i class="ri-check-line"></i></span>
                                    <span class="box__icon"><i class="ri-close-line"></i></span>
                                </div>
                                <p class="input__error error--changed2">
                                    El correo solo puede contener letras,numeros,puntos,guiones y guion bajo.
                                </p>
                            </div>

                            <div class="formulario__input">
                                <div class="input-box">
                                    <input type="text" autocomplete="off" placeholder="" name="Telefono" id="phone">
                                    <label for="phone">Telefono</label>
                                    <span class="box__icon"><i class="ri-check-line"></i></span>
                                    <span class="box__icon"><i class="ri-close-line"></i></span>
                                </div>
                                <p class="input__error">
                                    El teléfono solo puede contener numeros y el maximo son 10 digitos.
                                </p>
                            </div>

                            <div class="formulario__input" id="sector-input">
                                <div class="custom-select-wrapper">
                                    <select class="styled-select" id="tipoSector">
                                        <option disabled selected>Tipo de sector</option>
                                        <option value="Hotel">Hotel</option>
                                        <option value="Restaurante">Restaurante</option>
                                        <option value="Cafe">Cafe</option>
                                        <option value="Bar">Bar</option>
                                        <option value="NightClub">NightClub</option>
                                        <option value="Catering">Catering</option>
                                    </select>
                                    <i class="fa-solid fa-chevron-down custom-sector" id="arrowIcon"></i>
                                </div>
                                <p class="input__error error--Tiposector">
                                    Por favor, un tipo de sector
                                </p>
                            </div>

                            <div class="formulario__input formulario__container">
                                <button class="formulario__btn" type="submit">Guardar</button>
                            </div>

                    </div>

                </div>
            </main>

        </div>
    </section>

    <!-- ============= DRAWER DEL CARRITO ============= -->
    <div class="cart-overlay" id="cart-overlay"></div>
    <aside class="cart-drawer" id="cart-drawer">
        <header class="cart-header">
            <h3 class="header__carrito">Carrito De Compras</h3>
            <button id="cart-close"><i class="ri-close-line"></i></button>
        </header>

        <div class="cart-body">
            <ul class="cart-list" id="cart-list"></ul>
        </div>

        <footer class="cart-footer">
            <div class="cart-subtotal">
                <span>Subtotal:</span>
                <strong id="cart-subtotal">$0.00</strong>
            </div>
            <button id="seguir-comprando" class="btn-primary">Seguir Comprando</button>
            <button id="finalizar-compra" class="btn-primary">Finalizar compra</button>
        </footer>
    </aside>

    <footer class="footer">
        <div class="footer__subscripcion">
            <div class="subcripcion__informativa">
                <div class="informativa__subscribir">
                    <h2 class="subscribir__title">Suscríbete al Boletín Informativo</h2>
                    <p class="subscribir__text">
                        Recibe en tu correo nuestras últimas novedades y <span>las mejores ofertas especiales.</span>
                    </p>
                </div>

                <div class="informativa__formulario">
                    <form class="formulario__subcripcion" action="">
                        <div class="subcripcion__formulario">
                            <div class="formulario__input">
                                <input type="email" autocomplete="off" placeholder="Ingresa tu email" name="Email"
                                    id="email">
                                <button type="submit">Subcribete</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="footer__enlaces">

            <div class="enlaces__categoriaNosotros">
                <figure class="categoriaNosotros__logo">
                    <img src="" alt="">
                </figure>

                <ul class="categoriaNosotros__list">
                    <h4 class="list__title">Contactanos</h4>

                    <li class="list__item"><strong>Direccion: </strong>Fundacion Tecnologica De Comfenalco</li>
                    <li class="list__item"><strong>Telefono: </strong> +321458924</li>
                    <li class="list__item"><strong>Horarios: </strong> 7:00 - 17:00, Lunes - Viernes</li>

                    <h4 class="list__siguenos">Siguenos en</h4>

                    <div class="list__icon">
                        <li class="icon__social"><i class="ri-facebook-fill"></i></li>
                        <li class="icon__social"><i class="ri-twitter-fill"></i></li>
                        <li class="icon__social"><i class="ri-instagram-fill"></i></li>
                        <li class="icon__social"><i class="ri-pinterest-fill"></i></li>
                    </div>

                </ul>
            </div>

            <div class="enlaces__categoriaPopulares">
                <h2 class="categoriaPopulares__title">Categorias Populares</h2>

                <ul class="categoriasPopulares__list">
                    <li class="list__item"><a class="item__footer" href="">Lager</a></li>
                    <li class="list__item"><a class="item__footer" href="">Ale</a></li>
                    <li class="list__item"><a class="item__footer" href="">Vino tinto</a></li>
                    <li class="list__item"><a class="item__footer" href="">Vino blanco</a></li>
                    <li class="list__item"><a class="item__footer" href="">Whisky</a></li>
                    <li class="list__item"><a class="item__footer" href="">Vodka</a></li>
                    <li class="list__item"><a class="item__footer" href="">Licores de frutas</a></li>
                    <li class="list__item"><a class="item__footer" href="">Licores herbales</a></li>
                </ul>
            </div>

            <div class="enlaces__categoriaProductos">
                <h2 class="categoriaProductos__title">Productos</h2>

                <ul class="categoriaProductos__list">
                    <li class="list__item"><a class="item__footer" href="">Recién Llegados</a></li>
                    <li class="list__item"><a class="item__footer" href="">Nuevos Productos</a></li>
                    <li class="list__item"><a class="item__footer" href="">Catalogos</a></li>
                    <li class="list__item"><a class="item__footer" href="">Los precios bajan</a></li>
                    <li class="list__item"><a class="item__footer" href="">Las mejores ventas</a></li>
                    <li class="list__item"><a class="item__footer" href="">Mapa del sitio</a></li>
                    <li class="list__item"><a class="item__footer" href="">Paquete y ahorro</a></li>
                    <li class="list__item"><a class="item__footer" href="">Tarjeta de regalo en línea</a></li>
                </ul>
            </div>

            <div class="enlaces__instalar">
                <h2 class="instalar__title">Instalar App</h2>

                <ul class="instalar__list">
                    <li class="list__item">Desde App Store o Google Play</li>
                </ul>

                <div class="instalar__flex">
                    <figure>
                        <img src="../static/Assets/Img/footer/app.jpg" alt="">
                    </figure>
                    <figure>
                        <img src="../static/Assets/Img/footer/play.jpg" alt="">
                    </figure>
                </div>

                <ul class="instalar__list">
                    <li class="list__item item--pagos">Pasarelas de Pago Seguras</li>
                </ul>

                <figure>
                    <img src="../static/Assets/Img/footer/pay.png" alt="">
                </figure>
            </div>


        </div>

        <div class="instalar__copyright">
            <p class="copyright__text">© <span id="anio__pagina"></span>, Beer-E-ecommer - Todos los Derechos Reservados
                - Creado por <a href="#"><strong>Nosotros</strong></a></p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="../static/Js/Perfil.js"></script>
</body>

</html>