<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="../static/Css/productos.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
        integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css"
        integrity="sha512-kJlvECunwXftkPwyvHbclArO8wszgBGisiLeuDFwNM8ws+wKIw0sv1os3ClWZOcrEB2eRXULYUsm8OVRGJKwGA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Productos || E-ecommer Beer</title>
    <meta name="description" content="">
    <meta name="autor" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index,follow">
</head>

<body>
    <header class="header">
        <h1 class="header__logo">HoreecarBeer</h2>

            <nav class="header__navbar">
                <ul class="navbar__list">
                    <li class="list__item"><a href="Index.html" class="item__link">Inicio</a></li>
                    <li class="list__item"><a href="Pack.html" class="item__link">Packs</a></li>
                    <li class="list__item"><a href="" class="item__link active">Productos</a></li>
                    <li class="list__item"><a href="Blog.html" class="item__link">Blog</a></li>
                    <li class="list__item"><a href="Contactos.html" class="item__link">Contactenos</a></li>
                </ul>
            </nav>

            <div class="list__icon">

                <span class="icon__item language-selector">
                    <div class="language-dropdown">
                        <button class="dropdown-toggle">
                            <i class="ri-translate-2"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li>Español</li>
                            <li>English</li>
                            <li>France</li>
                            <li>Portugues</li>
                        </ul>
                    </div>
                </span>

                <span class="icon__item">
                    <i class="ri-search-line"></i>
                </span>

                <span class="icon__item">
                    <i class="ri-user-line"></i>

                    <div class="nav__menu" id="SubMenu">
                        <div class="menu__sub">

                            <a href="login.html" class="sub__link">
                                <p class="link__text">Iniciar Sesion</p>
                            </a>

                            <a href="registro.html" class="sub__link">
                                <p class="link__text">Registro</p>
                            </a>

                            <a href="RecordarContrasena.html" class="sub__link">
                                <p class="link__text">Recordar Contraseña</p>
                            </a>

                        </div>
                    </div>

                    <div class="nav__menu" id="SubMenu">
                        <div class="menu__sub">
                            <div class="sub__info">
                                <i class="ri-user-line"></i>
                                <h2 class="info__title">Keyner Reyes</h2>
                            </div>
                            <hr>

                            <a href="Perfil.html" class="sub__link">
                                <p class="link__text">Perfil</p>
                            </a>

                            <a href="Configuraciones.html" class="sub__link">
                                <p class="link__text">Configuracion</p>
                            </a>

                            <a href="Notificaciones.html" class="sub__link">
                                <p class="link__text">Notificaciones</p>
                            </a>

                            <a href="Pedidos.html" class="sub__link">
                                <p class="link__text">Sus Pedidos</p>
                            </a>

                            <a href="" class="sub__link">
                                <p class="link__text">Cerrar Seccion</p>
                            </a>
                        </div>
                    </div>

                </span>

                <span class="icon__item" id="go-fav">
                    <i class="ri-heart-3-line"></i>
                    <span class="icon__badge" id="fav-count"></span>
                </span>

                <span class="icon__item" id="cart-icon">
                    <i class="ri-shopping-cart-2-line"></i>
                    <span class="icon__badge" id="cart-count"></span>
                </span>
            </div>
    </header>

    <main>
        <section class="productos">

            <div class="container__enlaces">
                <a href="Index.html">Inicio /</a>
                <a href="">Licores /</a>
                <a href="">Productos</a>

                <h2 class="enlaces__titulos">Productos</h2>
            </div>

            <!-- Contenedor para mostrar filtros seleccionados -->
            <div id="selected-filters"  class="selected-filters"></div>

            <div class="produtos__filter">
                <div class="custom-select">
                    <div class="select-selected selected--marca">
                        Marca
                        <i class="ri-arrow-down-s-line"></i>
                    </div>

                    <div class="select-items select-hide">

                        <input type="text" id="" placeholder="Buscar...">

                        <div id="options-container--marca"></div>

                    </div>
                </div>

                <div class="custom-select">
                    <div class="select-selected selected--categoria">
                        Categoria
                        <i class="ri-arrow-down-s-line"></i>
                    </div>
                    <div class="select-items select-hide">

                        <input type="text" id="" placeholder="Buscar...">

                        <div id="options-container--categoria"></div>

                    </div>
                </div>

                <div class="custom-select">
                    <div class="select-selected selected--pais">
                        Pais
                        <i class="ri-arrow-down-s-line"></i>
                    </div>
                    <div class="select-items select-hide">

                        <input type="text" id="" placeholder="Buscar...">

                        <div id="options-container--paises"></div>

                    </div>
                </div>

                <div class="custom-select">
                    <div class="select-selected selected--ordenar">
                        Ordenar Por
                        <i class="ri-arrow-down-s-line"></i>
                    </div>
                    <div class="select-items select-hide">

                        <input type="text" id="" placeholder="Buscar...">

                        <label class="option">
                            <input type="checkbox" value="Mas Vendidos">
                            Mas Vendido
                        </label>

                        <label class="option">
                            <input type="checkbox" value="Mas Vendidos">
                            Mejor Calificado
                        </label>

                        <label class="option">
                            <input type="checkbox" value="Mas Vendidos">
                            Precio:Bajo A Alto
                        </label>

                        <label class="option">
                            <input type="checkbox" value="Mas Vendidos">
                            Precio:Alto A Bajo
                        </label>

                    </div>
                </div>

            </div>

            <div class="productos__destacados">

                <div class="flex">
                    <div class="flex__productos">
                        <div class="flex__productos-track">
                            <!-- Product 1 -->
                            <div class="card" data-name="Vino Lambrusco Botticello Rosato Dolce 750 ml"
                                data-price="39.000" data-oldprice="27.900" data-subcategory="Vino"
                                data-category="Vino Rosado"
                                data-image="../static/Assets/Img/Productos/Productos__Destacados/ProductoDestacado__vino.png">

                                <div class="badge badge-green">28%</div>
                                <img src="../static/Assets/Img/Productos/Productos__Destacados/ProductoDestacado__vino.png"
                                    alt="" width="250" height="250" />
                                <span class="category">Vino rosado</span>

                                <figure class="pais">
                                    <img src="../static/Assets/Img/Paises/paisPertenecienteItalia.svg" alt="">
                                    <figcaption class="pais__name">Italia</figcaption>
                                </figure>

                                <p class="description">
                                    Vino Lambrusco Botticello Rosato Dolce
                                    750 ml
                                </p>

                                <div class="stars">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-line"></i>
                                    <i class="ri-star-line"></i>
                                </div>
                                <div class="price-container">
                                    <span class="price">$39.000</span>
                                    <span class="price-old">$27.900</span>
                                </div>

                                <!-- Íconos emergentes -->
                                <div class="card-icons">
                                    <i class="ri-heart-line" title="Favorito"></i>
                                    <i class="ri-shopping-cart-line" title="Agregar al carrito"></i>
                                    <i class="ri-eye-line" title="Ver"></i>
                                    <i class="ri-share-line" title="Compartir"></i>
                                </div>

                            </div>

                            <!-- Product 2 -->
                            <div class="card" data-name=" Whisky Buchanan's 18 Años Special Reserve 750 ml"
                                data-price="$349.900" data-oldprice="$391.900" data-subcategory="Whisky"
                                data-category="Blended Scotch"
                                data-image="../static/Assets/Img/Productos/Productos__Destacados/ProdusctoDestacado__whisky.webp">

                                <div class="badge badge-green">11%</div>
                                <img src="../static/Assets/Img/Productos/Productos__Destacados/ProdusctoDestacado__whisky.webp"
                                    alt="" width="250" height="250" />
                                <span class="category">Blended Scotch</span>

                                <figure class="pais">
                                    <img src="../static/Assets/Img/Paises/paisPertenecienteEscocia.svg" alt="">
                                    <figcaption class="pais__name">Escocia</figcaption>
                                </figure>

                                <p class="description">
                                    Whisky Buchanan's 18 Años Special
                                    Reserve 750 ml</p>

                                <div class="stars">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-line"></i>
                                    <i class="ri-star-line"></i>
                                </div>

                                <div class="price-container">
                                    <span class="price">$349.900</span>
                                    <span class="price-old">$391.900</span>
                                </div>

                                <!-- Íconos emergentes -->
                                <div class="card-icons">
                                    <i class="ri-heart-line" title="Favorito"></i>
                                    <i class="ri-shopping-cart-line" title="Agregar al carrito"></i>
                                    <i class="ri-eye-line" title="Ver"></i>
                                    <i class="ri-share-line" title="Compartir"></i>
                                </div>
                            </div>

                            <!-- Product 3 -->
                            <div class="card">
                                <div class="badge badge-green">28%</div>
                                <img src="../static/Assets/Img/Productos/Productos__Destacados/ProdusctoDestacado__vino2.webp"
                                    alt="" width="250" height="250" />
                                <span class="category">Vino Blanco</span>

                                <figure class="pais">
                                    <img src="../static/Assets/Img/Paises/paisPertenecienteItalia.svg" alt="">
                                    <figcaption class="pais__name">Italia</figcaption>
                                </figure>

                                <p class="description">
                                    Vino Lambrusco Botticello Bianco Dolce
                                    750 ml
                                </p>

                                <div class="stars">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-line"></i>
                                    <i class="ri-star-line"></i>
                                </div>

                                <div class="price-container">
                                    <span class="price">$39.00</span>
                                    <span class="price-old">$27.900</span>
                                </div>

                                <!-- Íconos emergentes -->
                                <div class="card-icons">
                                    <i class="ri-heart-line" title="Favorito"></i>
                                    <i class="ri-shopping-cart-line" title="Agregar al carrito"></i>
                                    <i class="ri-eye-line" title="Ver"></i>
                                    <i class="ri-share-line" title="Compartir"></i>
                                </div>
                            </div>

                            <!-- Product 4 -->
                            <div class="card">
                                <div class="badge badge-green">28%</div>
                                <img src="../static/Assets/Img/Productos/Productos__Destacados/ProdusctoDestacado__vino3.webp"
                                    alt="" width="250" height="250" />
                                <span class="category">Vino Espumoso</span>

                                <figure class="pais">
                                    <img src="../static/Assets/Img/Paises/paisPertenecienteItalia.svg" alt="">
                                    <figcaption class="pais__name">Italia</figcaption>
                                </figure>

                                <p class="description">
                                    Vino Lambrusco Botticello Rosso Dolce
                                    750 ml
                                </p>

                                <div class="stars">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-line"></i>
                                    <i class="ri-star-line"></i>
                                </div>

                                <div class="price-container">
                                    <span class="price">$39.00</span>
                                    <span class="price-old">$27.900</span>
                                </div>

                                <!-- Íconos emergentes -->
                                <div class="card-icons">
                                    <i class="ri-heart-line" title="Favorito"></i>
                                    <i class="ri-shopping-cart-line" title="Agregar al carrito"></i>
                                    <i class="ri-eye-line" title="Ver"></i>
                                    <i class="ri-share-line" title="Compartir"></i>
                                </div>
                            </div>

                            <!-- Otros productos -->
                            <!-- Product 5 -->
                            <div class="card">
                                <div class="badge badge-green">28%</div>
                                <img src="../static/Assets/Img/Productos/Productos__Destacados/ProdusctoDestacado1.webp"
                                    alt="" width="250" height="250" />
                                <span class="category">Single Malt</span>

                                <figure class="pais">
                                    <img src="../static/Assets/Img/Paises/paisPertenecienteEscocia.svg" alt="">
                                    <figcaption class="pais__name">Escocia</figcaption>
                                </figure>

                                <p class="description">
                                    Glenfiddich 15 Year Old Single Malt Scotch Whisky 750 ml
                                </p>

                                <div class="stars">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-line"></i>
                                    <i class="ri-star-line"></i>
                                </div>
                                <div class="price-container">
                                    <span class="price">$39.00</span>
                                    <span class="price-old">$27.900</span>
                                </div>

                                <!-- Íconos emergentes -->
                                <div class="card-icons">
                                    <i class="ri-heart-line" title="Favorito"></i>
                                    <i class="ri-shopping-cart-line" title="Agregar al carrito"></i>
                                    <i class="ri-eye-line" title="Ver"></i>
                                    <i class="ri-share-line" title="Compartir"></i>
                                </div>

                            </div>

                            <!-- Product 6 -->
                            <div class="card">
                                <div class="badge badge-green">11%</div>
                                <img class="img--changed"
                                    src="../static/Assets/Img/Productos/Productos__Destacados/ProdusctoDestacado2.webp"
                                    alt="" width="250" height="250" />
                                <span class="category">Single Malt </span>

                                <figure class="pais">
                                    <img src="../static/Assets/Img/Paises/paisPertenecienteEscocia.svg" alt="">
                                    <figcaption class="pais__name">Escocia</figcaption>
                                </figure>

                                <p class="description">
                                    Glenfiddich 12 Year Old Single Malt Scotch Whisky 750 ml
                                </p>

                                <div class="stars">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-line"></i>
                                    <i class="ri-star-line"></i>
                                </div>

                                <div class="price-container">
                                    <span class="price">$349.900</span>
                                    <span class="price-old">$391.900</span>
                                </div>

                                <!-- Íconos emergentes -->
                                <div class="card-icons">
                                    <i class="ri-heart-line" title="Favorito"></i>
                                    <i class="ri-shopping-cart-line" title="Agregar al carrito"></i>
                                    <i class="ri-eye-line" title="Ver"></i>
                                    <i class="ri-share-line" title="Compartir"></i>
                                </div>
                            </div>

                            <!-- Product 7 -->
                            <div class="card">
                                <div class="badge badge-green">28%</div>
                                <img src="../static/Assets/Img/Productos/Productos__Destacados/ProdusctoDestacado3.webp"
                                    alt="" width="250" height="250" />
                                <span class="category">Añejo Cristalino</span>

                                <figure class="pais">
                                    <img src="../static/Assets/Img/Paises/paisPertenecienteMexico.svg" alt="">
                                    <figcaption class="pais__name">Mexico</figcaption>
                                </figure>

                                <p class="description">
                                    Tequila Don Julio 70 Añejo Claro 700 ml
                                </p>

                                <div class="stars">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-line"></i>
                                    <i class="ri-star-line"></i>
                                </div>

                                <div class="price-container">
                                    <span class="price">$39.00</span>
                                    <span class="price-old">$27.900</span>
                                </div>

                                <!-- Íconos emergentes -->
                                <div class="card-icons">
                                    <i class="ri-heart-line" title="Favorito"></i>
                                    <i class="ri-shopping-cart-line" title="Agregar al carrito"></i>
                                    <i class="ri-eye-line" title="Ver"></i>
                                    <i class="ri-share-line" title="Compartir"></i>
                                </div>
                            </div>

                            <!-- Product 8 -->
                            <div class="card">
                                <div class="badge badge-green">28%</div>
                                <img src="../static/Assets/Img/Productos/Productos__Destacados/ProductoDestacado67.png"
                                    alt="" width="250" height="250" />
                                <span class="category">Vino Tinto</span>

                                <figure class="pais">
                                    <img src="../static/Assets/Img/Paises/paisPertenecienteChile.svg" alt="">
                                    <figcaption class="pais__name">Chile</figcaption>
                                </figure>

                                <p class="description">
                                    Vino Tinto Malbec Casillero Reserva Especial 750 ml
                                </p>

                                <div class="stars">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-line"></i>
                                    <i class="ri-star-line"></i>
                                </div>

                                <div class="price-container">
                                    <span class="price">$39.00</span>
                                    <span class="price-old">$27.900</span>
                                </div>

                                <!-- Íconos emergentes -->
                                <div class="card-icons">
                                    <i class="ri-heart-line" title="Favorito"></i>
                                    <i class="ri-shopping-cart-line" title="Agregar al carrito"></i>
                                    <i class="ri-eye-line" title="Ver"></i>
                                    <i class="ri-share-line" title="Compartir"></i>
                                </div>
                            </div>

                            <!-- Product 9 -->
                            <div class="card">
                                <div class="badge badge-green">28%</div>
                                <img src="../static/Assets/Img/Productos/Productos__Destacados/ProdusctoDestacado4.webp"
                                    alt="" width="250" height="250" />
                                <span class="category">Vino Tinto</span>

                                <figure class="pais">
                                    <img src="../static/Assets/Img/Paises/paisPertenecienteChile.svg" alt="">
                                    <figcaption class="pais__name">Chile</figcaption>
                                </figure>

                                <p class="description">
                                    Vino Tinto Terra Vega Merlot 750 ml
                                </p>

                                <div class="stars">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-line"></i>
                                    <i class="ri-star-line"></i>
                                </div>

                                <div class="price-container">
                                    <span class="price">$39.00</span>
                                    <span class="price-old">$27.900</span>
                                </div>

                                <!-- Íconos emergentes -->
                                <div class="card-icons">
                                    <i class="ri-heart-line" title="Favorito"></i>
                                    <i class="ri-shopping-cart-line" title="Agregar al carrito"></i>
                                    <i class="ri-eye-line" title="Ver"></i>
                                    <i class="ri-share-line" title="Compartir"></i>
                                </div>
                            </div>


                            <!-- Product 10 -->
                            <div class="card">
                                <div class="badge badge-green">28%</div>
                                <img src="../static/Assets/Img/Productos/Productos__Destacados/ProductoDestacado5.png"
                                    alt="" width="250" height="250" />
                                <span class="category">Vino Blanco</span>

                                <figure class="pais">
                                    <img src="../static/Assets/Img/Paises/paisPertenecienteChile.svg" alt="">
                                    <figcaption class="pais__name">Chile</figcaption>
                                </figure>

                                <p class="description">
                                    Vino Blanco Terra Vega Sauvignon 750 ml
                                </p>

                                <div class="stars">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-line"></i>
                                    <i class="ri-star-line"></i>
                                </div>

                                <div class="price-container">
                                    <span class="price">$39.00</span>
                                    <span class="price-old">$27.900</span>
                                </div>

                                <!-- Íconos emergentes -->
                                <div class="card-icons">
                                    <i class="ri-heart-line" title="Favorito"></i>
                                    <i class="ri-shopping-cart-line" title="Agregar al carrito"></i>
                                    <i class="ri-eye-line" title="Ver"></i>
                                    <i class="ri-share-line" title="Compartir"></i>
                                </div>
                            </div>

                            <!-- Product 11 -->
                            <div class="card">
                                <div class="badge badge-green">28%</div>
                                <img src="../static/Assets/Img/Productos/Productos__Destacados/ProductoDestacado6.png"
                                    alt="" width="250" height="250" />
                                <span class="category">Vino Tinto</span>

                                <figure class="pais">
                                    <img src="../static/Assets/Img/Paises/paisPertenecienteChile.svg" alt="">
                                    <figcaption class="pais__name">Chile</figcaption>
                                </figure>

                                <p class="description">
                                    Vino Tinto Terra Vega Malbec 750 ml
                                </p>

                                <div class="stars">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-line"></i>
                                    <i class="ri-star-line"></i>
                                </div>

                                <div class="price-container">
                                    <span class="price">$39.00</span>
                                    <span class="price-old">$27.900</span>
                                </div>

                                <!-- Íconos emergentes -->
                                <div class="card-icons">
                                    <i class="ri-heart-line" title="Favorito"></i>
                                    <i class="ri-shopping-cart-line" title="Agregar al carrito"></i>
                                    <i class="ri-eye-line" title="Ver"></i>
                                    <i class="ri-share-line" title="Compartir"></i>
                                </div>
                            </div>

                            <!-- Product 12 -->
                            <div class="card">
                                <div class="badge badge-green">11%</div>
                                <img class="img--changed"
                                    src="../static/Assets/Img/Productos/Productos__Destacados/ProductoDestacado7.png"
                                    alt="" width="250" height="250" />
                                <span class="category">Blended Malt</span>

                                <figure class="pais">
                                    <img src="../static/Assets/Img/Paises/paisPertenecienteEscocia.svg" alt="">
                                    <figcaption class="pais__name">Escocia</figcaption>
                                </figure>

                                <p class="description">
                                    Whisky Johnnie Walker Double
                                    Black 700 ml
                                </p>

                                <div class="stars">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-line"></i>
                                    <i class="ri-star-line"></i>
                                </div>

                                <div class="price-container">
                                    <span class="price">$349.900</span>
                                    <span class="price-old">$391.900</span>
                                </div>

                                <!-- Íconos emergentes -->
                                <div class="card-icons">
                                    <i class="ri-heart-line" title="Favorito"></i>
                                    <i class="ri-shopping-cart-line" title="Agregar al carrito"></i>
                                    <i class="ri-eye-line" title="Ver"></i>
                                    <i class="ri-share-line" title="Compartir"></i>
                                </div>
                            </div>

                            <!-- Product 13-->
                            <div class="card">
                                <div class="badge badge-green">28%</div>
                                <img loading="lazy"
                                    src="../static/Assets/Img/Productos/Productos__Destacados/ProductoDestacado55.png"
                                    alt="" width="250" height="250" />
                                <span class="category">Ginebra</span>

                                <figure class="pais">
                                    <img loading="lazy"
                                        src="../static/Assets/Img/Paises/PaisPertenecienteReinoUnido.svg" alt="">
                                    <figcaption class="pais__name">Reino Unido</figcaption>
                                </figure>

                                <p class="description">
                                    Gordon's London Dry Gin Clásica 700 ml
                                </p>

                                <div class="stars">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-line"></i>
                                    <i class="ri-star-line"></i>
                                </div>
                                <div class="price-container">
                                    <span class="price">$39.00</span>
                                    <span class="price-old">$27.900</span>
                                </div>

                                <!-- Íconos emergentes -->
                                <div class="card-icons">
                                    <i class="ri-heart-line" title="Favorito"></i>
                                    <i class="ri-shopping-cart-line" title="Agregar al carrito"></i>
                                    <i class="ri-eye-line" title="Ver"></i>
                                    <i class="ri-share-line" title="Compartir"></i>
                                </div>

                            </div>

                            <!-- Product 14-->
                            <div class="card">
                                <div class="badge badge-green">38%</div>
                                <img loading="lazy"
                                    src="../static/Assets/Img/Productos/Productos__Destacados/ProductoDestacados70.png"
                                    alt="" width="250" height="250" />
                                <span class="category">Nacional</span>

                                <figure class="pais">
                                    <img loading="lazy" src="../static/Assets/Img/Paises/paisPertenecienteColombia.svg"
                                        alt="">
                                    <figcaption class="pais__name">Colombia</figcaption>
                                </figure>

                                <p class="description">
                                    Cerveza Águila Cero Sin Alcohol Lata 330 ml
                                </p>

                                <div class="stars">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-line"></i>
                                    <i class="ri-star-line"></i>
                                </div>
                                <div class="price-container">
                                    <span class="price">$39.00</span>
                                    <span class="price-old">$27.900</span>
                                </div>

                                <!-- Íconos emergentes -->
                                <div class="card-icons">
                                    <i class="ri-heart-line" title="Favorito"></i>
                                    <i class="ri-shopping-cart-line" title="Agregar al carrito"></i>
                                    <i class="ri-eye-line" title="Ver"></i>
                                    <i class="ri-share-line" title="Compartir"></i>
                                </div>

                            </div>

                            <!-- Product 15-->
                            <div class="card">
                                <div class="badge badge-green">28%</div>
                                <img loading="lazy"
                                    src="../static/Assets/Img/Productos/Productos__Destacados/ProductoDestacados71.webp"
                                    alt="" width="250" height="250" />
                                <span class="category">Nacional</span>

                                <figure class="pais">
                                    <img loading="lazy" src="../static/Assets/Img/Paises/paisPertenecienteColombia.svg"
                                        alt="">
                                    <figcaption class="pais__name">Colombia</figcaption>
                                </figure>

                                <p class="description">
                                    Cerveza Poker Tradicional Colombiana en Lata 330 ml
                                </p>

                                <div class="stars">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-line"></i>
                                    <i class="ri-star-line"></i>
                                </div>
                                <div class="price-container">
                                    <span class="price">$39.00</span>
                                    <span class="price-old">$27.900</span>
                                </div>

                                <!-- Íconos emergentes -->
                                <div class="card-icons">
                                    <i class="ri-heart-line" title="Favorito"></i>
                                    <i class="ri-shopping-cart-line" title="Agregar al carrito"></i>
                                    <i class="ri-eye-line" title="Ver"></i>
                                    <i class="ri-share-line" title="Compartir"></i>
                                </div>

                            </div>

                            <!-- Product 16-->
                            <div class="card">
                                <div class="badge badge-green">28%</div>
                                <img loading="lazy"
                                    src="../static/Assets/Img/Productos/Productos__Destacados/ProductoDestacados68.webp"
                                    alt="" width="250" height="250" />
                                <span class="category">Nacional</span>

                                <figure class="pais">
                                    <img loading="lazy" src="../static/Assets/Img/Paises/paisPertenecienteColombia.svg"
                                        alt="">
                                    <figcaption class="pais__name">Colombia</figcaption>
                                </figure>

                                <p class="description">
                                    Six Pack Cerveza Club Colombia
                                    Dorada Lata 330 ml
                                </p>

                                <div class="stars">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-line"></i>
                                    <i class="ri-star-line"></i>
                                </div>
                                <div class="price-container">
                                    <span class="price">$39.00</span>
                                    <span class="price-old">$27.900</span>
                                </div>

                                <!-- Íconos emergentes -->
                                <div class="card-icons">
                                    <i class="ri-heart-line" title="Favorito"></i>
                                    <i class="ri-shopping-cart-line" title="Agregar al carrito"></i>
                                    <i class="ri-eye-line" title="Ver"></i>
                                    <i class="ri-share-line" title="Compartir"></i>
                                </div>

                            </div>

                        </div>

                        <div class="pagination" id="pagination">
                            <button id="prevBtn"><i class="ri-arrow-left-s-line"></i></button>
                            <div class="pagination__Numbers">
                                <div class="button__pagination active" id="pageNumbers">1</div>
                                <div class="button__pagination" id="pageNumbers">2</div>
                                <div class="button__pagination" id="pageNumbers">3</div>
                                <div class="button__pagination" id="pageNumbers">4</div>
                            </div>
                            <button id="nextBtn"><i class="ri-arrow-right-s-line"></i></button>
                        </div>

                    </div>

                </div>

            </div>

        </section>

    </main>

    <!-- ============= DRAWER DEL CARRITO ============= -->
    <div class="cart-overlay" id="cart-overlay"></div>
    <aside class="cart-drawer" id="cart-drawer">
        <header class="cart-header">
            <h3 class="header__carrito">Carrito De Compras</h3>
            <button id="cart-close"><i class="ri-close-line"></i></button>
        </header>

        <div class="cart-body">
            <ul class="cart-list" id="cart-list"></ul>
        </div>

        <footer class="cart-footer">
            <div class="cart-subtotal">
                <span>Subtotal:</span>
                <strong id="cart-subtotal">$0.00</strong>
            </div>
            <button id="seguir-comprando" class="btn-primary">Seguir Comprando</button>
            <button id="finalizar-compra" class="btn-primary">Finalizar compra</button>
        </footer>
    </aside>

    <footer class="footer">
        <div class="footer__subscripcion">
            <div class="subcripcion__informativa">
                <div class="informativa__subscribir">
                    <h2 class="subscribir__title">Suscríbete al Boletín Informativo</h2>
                    <p class="subscribir__text">
                        Recibe en tu correo nuestras últimas novedades y <span>las mejores ofertas especiales.</span>
                    </p>
                </div>

                <div class="informativa__formulario">
                    <form class="formulario__subcripcion" action="">
                        <div class="subcripcion__formulario">
                            <div class="formulario__input">
                                <input type="email" autocomplete="off" placeholder="Ingresa tu email" name="Email"
                                    id="email">
                                <button type="submit">Subcribete</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="footer__enlaces">

            <div class="enlaces__categoriaNosotros">
                <figure class="categoriaNosotros__logo">
                    <img src="" alt="">
                </figure>

                <ul class="categoriaNosotros__list">
                    <h4 class="list__title">Contactanos</h4>

                    <li class="list__item"><strong>Direccion: </strong>Fundacion Tecnologica De Comfenalco</li>
                    <li class="list__item"><strong>Telefono: </strong> +321458924</li>
                    <li class="list__item"><strong>Horarios: </strong> 7:00 - 17:00, Lunes - Viernes</li>

                    <h4 class="list__siguenos">Siguenos en</h4>

                    <div class="list__icon">
                        <li class="icon__social"><i class="ri-facebook-fill"></i></li>
                        <li class="icon__social"><i class="ri-twitter-fill"></i></li>
                        <li class="icon__social"><i class="ri-instagram-fill"></i></li>
                        <li class="icon__social"><i class="ri-pinterest-fill"></i></li>
                    </div>

                </ul>
            </div>

            <div class="enlaces__categoriaPopulares">
                <h2 class="categoriaPopulares__title">Categorias Populares</h2>

                <ul class="categoriasPopulares__list">
                    <li class="list__item"><a class="item__footer" href="">Lager</a></li>
                    <li class="list__item"><a class="item__footer" href="">Ale</a></li>
                    <li class="list__item"><a class="item__footer" href="">Vino tinto</a></li>
                    <li class="list__item"><a class="item__footer" href="">Vino blanco</a></li>
                    <li class="list__item"><a class="item__footer" href="">Whisky</a></li>
                    <li class="list__item"><a class="item__footer" href="">Vodka</a></li>
                    <li class="list__item"><a class="item__footer" href="">Licores de frutas</a></li>
                    <li class="list__item"><a class="item__footer" href="">Licores herbales</a></li>
                </ul>
            </div>

            <div class="enlaces__categoriaProductos">
                <h2 class="categoriaProductos__title">Productos</h2>

                <ul class="categoriaProductos__list">
                    <li class="list__item"><a class="item__footer" href="">Recién Llegados</a></li>
                    <li class="list__item"><a class="item__footer" href="">Nuevos Productos</a></li>
                    <li class="list__item"><a class="item__footer" href="">Catalogos</a></li>
                    <li class="list__item"><a class="item__footer" href="">Los precios bajan</a></li>
                    <li class="list__item"><a class="item__footer" href="">Las mejores ventas</a></li>
                    <li class="list__item"><a class="item__footer" href="">Mapa del sitio</a></li>
                    <li class="list__item"><a class="item__footer" href="">Paquete y ahorro</a></li>
                    <li class="list__item"><a class="item__footer" href="">Tarjeta de regalo en línea</a></li>
                </ul>
            </div>

            <div class="enlaces__instalar">
                <h2 class="instalar__title">Instalar App</h2>

                <ul class="instalar__list">
                    <li class="list__item">Desde App Store o Google Play</li>
                </ul>

                <div class="instalar__flex">
                    <figure>
                        <img src="../static/Assets/Img/footer/app.jpg" alt="">
                    </figure>
                    <figure>
                        <img src="../static/Assets/Img/footer/play.jpg" alt="">
                    </figure>
                </div>

                <ul class="instalar__list">
                    <li class="list__item item--pagos">Pasarelas de Pago Seguras</li>
                </ul>

                <figure>
                    <img src="../static/Assets/Img/footer/pay.png" alt="">
                </figure>
            </div>


        </div>

        <div class="instalar__copyright">
            <p class="copyright__text">© <span id="anio__pagina"></span>, Beer-E-ecommer - Todos los Derechos Reservados
                - Creado por <a href="#"><strong>Nosotros</strong></a></p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="../static/Js/productos.js"></script>
</body>

</html>