<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/Css/productos_destacados.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/Assets/Img/Logos/logoBeer.png}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
          integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css"
        integrity="sha512-kJlvECunwXftkPwyvHbclArO8wszgBGisiLeuDFwNM8ws+wKIw0sv1os3ClWZOcrEB2eRXULYUsm8OVRGJKwGA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/x-icon"
          th:href="@{/Assets/Img/Logos/logoBeer.png}"
          href="/Assets/Img/Logos/logoBeer.png">
    <title>E-ecommer Beer || Productos Destacados</title>
    <meta name="description" content="">
    <meta name="autor" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index,follow">
</head>

<body>
<header class="header">
    <h1 class="header__logo">HoreecarBeer</h1>

        <nav class="header__navbar">
            <ul class="navbar__list">
                <li class="list__item"><a href="" class="item__link">Inicio</a></li>
                <li class="list__item"><a href="" class="item__link">Categorias</a></li>
                <li class="list__item"><a href="" class="item__link">Productos</a></li>
                <li class="list__item"><a href="" class="item__link">Blog</a></li>
                <li class="list__item"><a href="" class="item__link">Contactenos</a></li>
            </ul>
        </nav>

        <div class="list__icon">

                <span class="icon__item language-selector">
                    <div class="language-dropdown">
                        <button class="dropdown-toggle">
                            <i class="ri-translate-2"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li>Español</li>
                            <li>English</li>
                            <li>France</li>
                            <li>Portugues</li>
                        </ul>
                    </div>
                </span>

            <span class="icon__item">
                    <i class="ri-search-line"></i>
                </span>

            <span class="icon__item">
                    <i class="ri-user-line"></i>
                </span>

            <span class="icon__item">
                    <i class="ri-heart-3-line"></i>
                    <span class="icon__badge" id="fav-count">0</span>
                </span>

            <span class="icon__item">
                    <i class="ri-shopping-cart-2-line"></i>
                    <span class="icon__badge" id="cart-count">0</span>
                </span>
        </div>
</header>


<section class="allProductDestacados">
    <div class="allProductDestacados__enlaces">
        <a href="">Inicio /</a>
        <a href="">Licores /</a>
        <a href="">Productos Destacados</a>
    </div>
</section>

<script type="module" th:src="@{/Js/producto_destacados.js}"></script>
</body>

</html>