<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/Css/RecordarContrasena.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
        integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css"
        integrity="sha512-kJlvECunwXftkPwyvHbclArO8wszgBGisiLeuDFwNM8ws+wKIw0sv1os3ClWZOcrEB2eRXULYUsm8OVRGJKwGA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Recordar Contrasena</title>
    <meta name="description" content="">
    <meta name="autor" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index,follow">
</head>

<body>

    <div class="icono__back">
        <i class="ri-arrow-left-s-line"></i>
        <a class="regresar" th:href="@{/}">Regresar a inicio</a>
    </div>

    <div class="contenido__form">
        <form class="form">
            <h1 class="formulario__title">¿Olvidaste Tu Contraseña?</h1>

            <p class="formulario__title2">
                Ingrese la dirección de correo electrónico asociada a su cuenta y le
                enviaremos un enlace para restablecer su contraseña.
            </p>

            <div class="formulario">

                <div class="formulario__input input--margintop">
                    <div class="input-box">
                        <input type="email" autocomplete="off" placeholder="" name="Email" id="email">
                        <label for="email">Email</label>
                        <span class="box__icon"><i class="ri-check-line"></i></span>
                        <span class="box__icon"><i class="ri-close-line"></i></span>
                    </div>
                    <p class="input__error">
                        El correo solo puede contener letras,numeros,puntos,guiones y guion bajo.
                    </p>
                </div>


                <div class="formulario__input formulario__btn-container">
                    <button class="formulario__btn" type="submit">Restablecer Contraseña</button>
                </div>

            </div>

        </form>

        <div class="imagen__container">
            <img class="container__login" th:src="@{/Assets/Img/comprarNosotros/Elegirnos.png}" alt="">
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script th:src="@{/Js/RecordarContrasena.js}"></script>
</body>

</html>