<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
        integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css"
        integrity="sha512-kJlvECunwXftkPwyvHbclArO8wszgBGisiLeuDFwNM8ws+wKIw0sv1os3ClWZOcrEB2eRXULYUsm8OVRGJKwGA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/Css/Registro.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/Assets/Img/Logos/logoBeer.png}">
    <title>Registro</title>
    <meta name="description" content="">
    <meta name="autor" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index,follow">
</head>

<body th:data-mensaje="${mensaje}" th:data-success="${success}">
    <div class="icono__back">
        <i class="ri-arrow-left-s-line"></i>
        <a class="regresar" th:href="@{/}">Regresar A Inicio</a>
    </div>

    <div class="contenido__form">
        <form class="form" th:action="@{/auth/registro}" method="post">
            <h1 class="formulario__title">Registro</h1>

            <span class="formulario__title2">Registre Todos Sus Datos Por Favor</span>


            <div class="formulario">
                <div class="formulario__input">
                    <div class="input-box">
                        <input type="text" autocomplete="off" placeholder="" name="nombres" id="nombre">
                        <label for="nombre">Nombre</label>
                        <span class="box__icon"><i class="ri-check-line"></i></span>
                        <span class="box__icon"><i class="ri-close-line"></i></span>
                    </div>
                    <p class="input__error">
                        El nombre debe tener al menos 3 letras y no contener números.
                    </p>
                </div>

                <div class="formulario__input">
                    <div class="input-box">
                        <input type="text" autocomplete="off" placeholder="" name="apellidos" id="apellido">
                        <label for="apellido">Apellido</label>
                        <span class="box__icon"><i class="ri-check-line"></i></span>
                        <span class="box__icon"><i class="ri-close-line"></i></span>
                    </div>
                    <p class="input__error">
                        El nombre debe tener al menos 3 letras y no contener números.
                    </p>
                </div>

                <div class="formulario__input">
                    <div class="custom-select-wrapper">
                        <select class="styled-select" name="tipoIdentificacion" id="tipoIdentificacion">
                            <option disabled selected>Tipo De Identificación</option>
                            <option th:each="tipo : ${tiposIdentificacion}" th:value="${tipo.name()}"
                                th:text="${tipo.descripcion}"></option>
                        </select>
                        <i class="fa-solid fa-chevron-down custom-arrow" id="arrowIcon"></i>
                    </div>
                    <p class="input__error error--changed">
                        Por favor, seleccione un tipo de identificación.
                    </p>
                </div>

                <div class="formulario__input">
                    <div class="input-box">
                        <input type="text" autocomplete="off" placeholder="" name="numeroIdentificacion"
                            id="identificacion">
                        <label for="identificacion">Identificacion</label>
                        <span class="box__icon"><i class="ri-check-line"></i></span>
                        <span class="box__icon"><i class="ri-close-line"></i></span>
                    </div>
                    <p class="input__error">
                        La cédula debe contener entre 6 y 10 dígitos numéricos.
                    </p>
                </div>

                <div class="formulario__input">
                    <div class="input-box">
                        <input type="email" autocomplete="off" placeholder="" name="correo" id="email">
                        <label for="email">Email</label>
                        <span class="box__icon"><i class="ri-check-line"></i></span>
                        <span class="box__icon"><i class="ri-close-line"></i></span>
                    </div>
                    <p class="input__error error--changed2">
                        El correo solo puede contener letras, numeros, puntos, guiones y guion bajo.
                    </p>
                </div>

                <div class="formulario__input">
                    <div class="input-box">
                        <input type="text" autocomplete="off" placeholder="" name="telefono" id="telefono">
                        <label for="telefono">Telefono</label>
                        <span class="box__icon"><i class="ri-check-line"></i></span>
                        <span class="box__icon"><i class="ri-close-line"></i></span>
                    </div>
                    <p class="input__error">
                        El teléfono solo puede contener numeros y el maximo son 10 digitos.
                    </p>
                </div>

                <div class="formulario__input">
                    <div class="input-box">
                        <input type="password" autocomplete="off" placeholder="" name="password" id="password">
                        <label for="password">Password</label>
                        <span class="box__icon"><i class="ri-check-line"></i></span>
                        <span class="box__icon"><i class="ri-close-line"></i></span>
                    </div>
                    <p class="input__error">
                        La contraseña tiene que ser de 4 a 15 digitos
                    </p>
                </div>

                <div class="formulario__input">
                    <div class="input-box">
                        <input type="password" autocomplete="off" placeholder="" name="RepetirPassword"
                            id="repeatPassword">
                        <label for="repeatPassword">Repetir Password</label>
                        <span class="box__icon"><i class="ri-check-line"></i></span>
                        <span class="box__icon"><i class="ri-close-line"></i></span>
                    </div>
                    <p class="input__error">
                        Ambas contraseña tienen que ser iguales.
                    </p>
                </div>

                <div class="formulario__input">
                    <div class="remember-forgot">
                        <label class="forgot__label" id="terms-label"><input type="checkbox" name="terminos">Acepto
                            Terminos Y
                            Condiciones</label>
                    </div>
                </div>

                <div class="formulario__input formulario__btn-container">
                    <button class="formulario__btn" type="submit">Registrar</button>
                </div>

            </div>

        </form>
    </div>

    <div class="imagen__container">
        <img class="container__login" th:src="@{/Assets/Img/comprarNosotros/Elegirnos.png}" alt="">
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" th:src="@{/Js/registro.js}"></script>
</body>

</html>